@charset "utf-8";
/* reset  */
html, body,  span, h1, h2,h3, h4, h5, h6, p, a, font, img,small,input, strong, ul,ol,li ,em,label,div,button,textarea,select,input,div{border: 0;margin: 0;	padding: 0;list-style-type:none;font-style:normal;outline: none;box-sizing: border-box; }
a img {	border: none;}
img{max-width:100%;}
table {border-collapse: collapse;border-spacing: 0;}
a { text-decoration:none;color: inherit;}
body {font-size:13px;font-family:"微软雅黑";background: #fff;color:#1a1a1a;margin:0px auto;}
.header_box{width: 1100px;margin: 0px auto;}
.con{display: table;cellspacing:10px;width: 1100px;margin: 0px auto;}
.content{width: 922px;display: table-cell;vertical-align: top;}
.con_box{background: #fff;margin-left: 10px;}
h1{display: inline-block;padding-right: 100px;padding-left:40px;text-align: center;}
.header_logo{vertical-align: bottom;margin-right: 8px;}
.header{background: #fff;}
.menu{display: inline-block;height: 60px;}
.sub{width:200px;float: right;margin-top: 20px;margin-right:0px;}
.news{margin:0px 16px;position: relative;}
.num{display: inline-block;background: #f33333;position: absolute;top:-9px;right: -16px;font-size: .8em;padding:1px 6px;color: #fff;font-style: normal;border-radius: 8px;  -webkit-transform: scale(0.75);  12*0.75 =9 }
.menu>li{display: inline-block;width: 88px;line-height: 58px;text-align: center;font-size: 18px;}
.menu .current{color: #f33333;border-bottom: 2px solid #f33333;}
.banner{width: 100%;display: block;}
.crumbs{background: #f1f1f1;color: #585858;font-size: 14px;padding: 8px 20px;margin-bottom: 10px;}
.footer{line-height:280%;color: #787878;font-size:12px;text-align: center;background:#fff;margin-top: 10px;}
input[type=checkbox] {width: 15px;height: 15px;margin-right: 8px;border: 1px solid #ccc;border-radius: 3px;vertical-align: sub;background: none;}
input[type=checkbox]:checked { background: #208bfe url("../img/btn_gou_pre.png") no-repeat center;border: none; background-size: 100% 100%;}
input[type=radio] {vertical-align:top; margin: 0px 6px 0px 0px; height: 14px; width: 14px; border: 1px solid #a0a0a0;border-radius: 50%;}
input[type=radio]:checked{ background: #208bfe url("../img/btn_danxuan_pre.png") no-repeat center;border: none; background-size: 100% 100%;}
input[type=checkbox],input[type=radio] {-webkit-appearance: none;-moz-appearance: none;-o-appearance: none;-ms-appearance: none;appearance: none;}
/*select 模拟*/
.select_val{background: url("../img/btn_down.png") no-repeat center right;color: #3d3d3d;height: 34px;line-height: 34px;width:100%;}
.select_val:hover{background-image: url("../img/btn_up.png");}
.select_box:hover .select_content{display: block;}
.select_box:hover{border-top: 1px solid #949494;border-left: 1px solid #949494;border-right: 1px solid #949494;border-bottom: none;border-bottom-left-radius:0px;border-bottom-right-radius:0px;}
.select_box{border: 1px solid #dbdbdb;border-radius: 3px;padding: 0px 10px;display: inline-table;width: 100%;position:relative; }
.select_content{z-index:10;border-radius:0px 0px 3px 3px;box-sizing: content-box;border-left: 1px solid #949494;border-right: 1px solid #949494;border-bottom: 1px solid #949494;background:#fff;margin-right: -2px;border-top: 1px solid #949494;display: none;color: #949494;max-height:300px;position: absolute;top:34px;left:-1px;width: 100%;}
.select_content>li{padding: 0px 10px;height: 30px;line-height: 30px;}
.select_content>li:hover{background: #f33333;color: #fff;}

/*表格部分样式开始*/
.dataTables_wrapper{margin:25px 0px 10px 0px;padding: 0px 10px;text-align:center;}
.dataTables_filter,.dataTables_length{display: none;}
table.dataTable{width:100%!important;border:1px solid #e8e8e8;box-sizing: content-box;clear: both;border-collapse: separate;
    border-spacing: 2px;margin: 0 auto; border-collapse: collapse;}
.dataTable td,.dataTable th{border:solid #e8e8e8; border-width:0px 1px 1px 0px;line-height: 200%;padding:0px 10px;}
.dataTable tr:hover{background: #f5f5f5;}
tr:last-child,tr:last-child>td{border-bottom:none;}
th:last-child,tr>td:last-child{border-right: none;}
.dataTables_info{margin-top:14px;color:#787878;text-align:left;}
.dataTables_paginate{float: right;text-align: right;margin-top: -22px;}
.paginate_button{text-align:center;border-left:1px solid #dfdfdf;border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;width: 27px;height:27px;line-height: 27px;color: #a8a8a8;display: inline-table;}
.dataTables_paginate>a:first-child{width:52px;}
.dataTables_paginate>span+a{width:52px;border-right:1px solid #dfdfdf;}
.dataTables_wrapper .ellipsis{display: inline-table;border-left:1px solid #dfdfdf;height: 27px;line-height: 27px;}
.dataTables_wrapper  .current{background:#f33333;color: #eee;}
.dataTables_wrapper .disabled {opacity: .6;}
table.dataTable thead .sorting_asc {outline: none;background: #f1f1f1 url('../img/sort_asc.png') no-repeat center right;}
.sorting {outline: none;background: #f1f1f1 url("../img/sort_both.png") no-repeat center right;height:44px;}
table.dataTable thead .sorting_desc {background: url("../img/sort_desc.png") no-repeat center right;}
.dataTables_wrapper .turnpage{float: right;margin-top: -22px;margin-left: 10px;}

/*百度地图修改*/
#allmap{height:100%;width:100%;}

/*comfirm弹窗*/
.pop_box{display:none;position: fixed;top: 0px;left:0px;width: 100%;height:100%; background: rgba(0, 0, 0, 0.3);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF7a7a7a,endColorstr=#BF666666)\10;}
.pop{background: #fff;left:144px;top:20px;position: fixed;border-radius: 3px;}
.pop .head{height: 70px;line-height: 70px;text-align: center;font-size: 22px;border-bottom: 1px solid #e4e4e4;}
.pop .con_c{width:430px;height:230px;padding: 20px;}
.pop .foot{position:absolute;bottom:0;width:100%;text-align: right;padding: 10px 20px;border-top: 1px solid #e4e4e4;}
.pop  .head .close{position:absolute;top: 22px;right: 30px;}

/*输入框ie下placeholder样式*/
.placeholder_ie{
    display: inline-block;
    width:100%;
    height:30px;
    position: absolute;
    left:0;
    top:0;
    line-height: 30px;
    font-size: 14px;
    padding:0 10px;
    color:#989898;
}
/*复选框ie下样式*/
.checkbox_ie{
    display: inline-block;
    width:16px;
    height:16px;
    
}
/*单选框ie下样式*/
.radio_ie{
    display: inline-block;
    width:16px;
    height:16px;
}
/*弹框中确定按钮鼠标移上的样式*/
.sure:hover{
    background-image:url(../img/btn_88px_pre.png);
}
