<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 引入接口，只要实现接口的方法就会调用对应接口方法的 select id -->
<mapper namespace="com.szyciov.coupon.mapper.PubCouponActivityUseCityMapper">


    <select id="listUseCityCode" resultType="String" parameterType="String" >
        select t.city
        from pub_coupon_activity_use_city t
        where t.couponactivityidref = #{activityId}
        and t.status ='1'
    </select>

</mapper>