/*������ʽ*/
/* .side_bar>li {
    position: relative;
    height: 90px;
    padding: 14px 0px;
    border-bottom: 1px solid #dadada;
} */
.ico{
	width:26px;
	height:26px;
	display: block;
	margin:10px auto;
}
/*ͼ����ʽ*/
.shouye {
	background-image: url('../../img/index/btn_shouye_def.png')
}

.current .shouye ,.on .shouye {
	background-image: url('../../img/index/btn_shouye_press.png')
}
.woyaoxiadan {
	background-image: url('../../img/index/btn_woyaoxiadan_def.png')
}

.current .woyaoxiadan ,.on .woyaoxiadan {
	background-image: url('../../img/index/btn_woyaoxiadan_press.png')
}
.dingdanguanli {
	background-image: url('../../img/index/btn_dingdanguanli_def.png')
}

.current .dingdanguanli ,.on .dingdanguanli {
	background-image: url('../../img/index/btn_dingdanguanli_press.png')
}
.jichushuju {
	background-image: url('../../img/index/btn_jichushuju_def.png')
}

.current .jichushuju ,.on .jichushuju {
	background-image: url('../../img/index/btn_jichushuju_press.png')
}
.fuwuguize {
	background-image: url('../../img/index/btn_fuwuguize_def.png')
}

.current .fuwuguize ,.on .fuwuguize {
	background-image: url('../../img/index/btn_fuwuguize_press.png')
}
.caiwuguanli {
	background-image: url('../../img/index/btn_caiwuguanli_def.png')
}

.current .caiwuguanli ,.on .caiwuguanli {
	background-image: url('../../img/index/btn_caiwuguanli_press.png')
}
.baobiaoguanli {
	background-image: url('../../img/index/btn_baobiaoguanli_def.png')
}

.current .baobiaoguanli ,.on .baobiaoguanli {
	background-image: url('../../img/index/btn_baobiaoguanli_press.png')
}
.xitongshezhi {
	background-image: url('../../img/index/btn_xitongshezhi_def.png')
}

.current .xitongshezhi ,.on .xitongshezhi {
	background-image: url('../../img/index/btn_xitongshezhi_press.png')
}
.jiaojiebanguanli {
	background-image: url('../../img/index/btn_jiaojiebanguanli_def.png')
}

.current .jiaojiebanguanli ,.on .jiaojiebanguanli {
	background-image: url('../../img/index/btn_jiaojiebanguanli_press.png')
}
.fuwujiankong {
	background-image: url('../../img/index/btn_fuwujiankong_def.png')
}

.current .fuwujiankong ,.on .fuwujiankong {
	background-image: url('../../img/index/btn_fuwujiankong_press.png')
}
/* 
.header_bar{
	position: absolute;
    top: 0px;
    width: 100%;
    z-index:1;
}

.side_bar{
	position: absolute;
    top: 60px;
    bottom: 0px;
    z-index:1;
}

.main{
	position: absolute;
    top: 60px;
    bottom: 0px;
}

.footer{
	position: absolute;
    width: 100%;
    top: 1008px;
    z-index: 2;
}
#iframebox{
	height:1000px;
} */