/target/
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/bin/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/classes/
.myeclipse/
logs/
.idea/
supervision/out/
.metadata/version.ini
.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
.metadata/.plugins/org.eclipse.wst.sse.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.eclipse.wst.jsdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.wst.jsdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.internet.cache/cache.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.ui.intro/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
.metadata/.plugins/org.eclipse.rse.ui/.log
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.desktop-p9c6n2l_32597/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.desktop-p9c6n2l_32597/H.local_16/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.desktop-p9c6n2l_32597/FP.local.files_0/node.properties
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.rse.core/.log
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.8.0.20170516-2043.xml
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_y
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_z.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_y.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_x_2.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_x.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_k.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_j.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_i.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_h.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_g.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_f.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_e.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_d.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/76a0055505200889bbc88b59577f7820/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/76a0055505200889bbc88b59577f7820/segments_3
.metadata/.plugins/org.eclipse.m2e.core/nexus/76a0055505200889bbc88b59577f7820/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/76a0055505200889bbc88b59577f7820/_1.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/76a0055505200889bbc88b59577f7820/_0_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/76a0055505200889bbc88b59577f7820/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/6f0ce0438f3b603b6c8936c28e581bee/timestamp
.metadata/.plugins/org.eclipse.m2e.core/nexus/6f0ce0438f3b603b6c8936c28e581bee/segments_c
.metadata/.plugins/org.eclipse.m2e.core/nexus/6f0ce0438f3b603b6c8936c28e581bee/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/6f0ce0438f3b603b6c8936c28e581bee/_b.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/6f0ce0438f3b603b6c8936c28e581bee/_a.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_4
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_2.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_1_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_1.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2017/8/31/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2017/8/31/refactorings.history
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/index.db
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.si
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.cfs
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.cfe
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache.lucene60/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache.lucene60/segments_1
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
.metadata/.mylyn/tasks.xml.zip
.metadata/.mylyn/repositories.xml.zip
.metadata/.log
.metadata/.lock
demo/src/test/java/com/wisely/demo/SpringBootDemo01ApplicationTests.java
demo/src/main/resources/templates/index.html
demo/src/main/resources/static/timg.jpg
demo/src/main/resources/static/jquery-3.2.1.min.js
demo/src/main/resources/static/bootstrap/js/npm.js
demo/src/main/resources/static/bootstrap/js/bootstrap.min.js
demo/src/main/resources/static/bootstrap/js/bootstrap.js
demo/src/main/resources/static/bootstrap/fonts/glyphicons-halflings-regular.woff2
demo/src/main/resources/static/bootstrap/fonts/glyphicons-halflings-regular.woff
demo/src/main/resources/static/bootstrap/fonts/glyphicons-halflings-regular.ttf
demo/src/main/resources/static/bootstrap/fonts/glyphicons-halflings-regular.svg
demo/src/main/resources/static/bootstrap/fonts/glyphicons-halflings-regular.eot
demo/src/main/resources/static/bootstrap/css/bootstrap.min.css.map
demo/src/main/resources/static/bootstrap/css/bootstrap.min.css
demo/src/main/resources/static/bootstrap/css/bootstrap.css.map
demo/src/main/resources/static/bootstrap/css/bootstrap.css
demo/src/main/resources/static/bootstrap/css/bootstrap-theme.min.css.map
demo/src/main/resources/static/bootstrap/css/bootstrap-theme.min.css
demo/src/main/resources/static/bootstrap/css/bootstrap-theme.css.map
demo/src/main/resources/static/bootstrap/css/bootstrap-theme.css
demo/src/main/resources/rebel.xml
demo/src/main/resources/application.yml
demo/src/main/java/com/wisely/demo/YamlModel.java
demo/src/main/java/com/wisely/demo/SpringBootDemo01Application.java
demo/src/main/java/com/wisely/demo/Person.java
demo/pom.xml
demo/mvnw.cmd
demo/mvnw
demo/.mvn/wrapper/maven-wrapper.properties
demo/.mvn/wrapper/maven-wrapper.jar
demo/.gitignore
demo/
passenger-wechat-api/out/test/classes/com/xxkj/passenger/wechat/test/Test_http_binFile_02.class
passenger-wechat-api/out/test/classes/com/xxkj/passenger/wechat/test/Test_http_binFile_01.class
passenger-wechat-api/out/test/classes/com/xxkj/passenger/wechat/dao/UserAccessDaoTest.class
passenger-wechat-api/out/test/classes/com/xxkj/passenger/wechat/dao/PubSupervisionLogDaoTest.class
passenger-wechat-api/out/test/classes/com/xxkj/passenger/wechat/PassengerWechatApiApplicationTests.class
passenger-wechat-api/out/production/resources/rebel.xml
passenger-wechat-api/out/production/resources/mapper/login/UserAccessMapper.xml
passenger-wechat-api/out/production/resources/mapper/T.xml.fxml
passenger-wechat-api/out/production/resources/logback-spring.xml
passenger-wechat-api/out/production/resources/application.yml
passenger-wechat-api/out/production/resources/application-dev.yml
passenger-wechat-api/out/production/classes/com/xxkj/passenger/wechat/util/Token.class
passenger-wechat-api/out/production/classes/com/xxkj/passenger/wechat/util/HttpUtil.class
passenger-wechat-api/out/production/classes/com/xxkj/passenger/wechat/util/HttpContent.class
passenger-wechat-api/out/production/classes/com/xxkj/passenger/wechat/util/FileUtil.class
passenger-wechat-api/out/production/classes/com/xxkj/passenger/wechat/util/EntityInfoList.class
passenger-wechat-api/out/production/classes/com/xxkj/passenger/wechat/util/BasicRequest.class
passenger-wechat-api/out/production/classes/com/xxkj/passenger/wechat/service/impl/UserAccessServiceImpl.class
passenger-wechat-api/out/production/classes/com/xxkj/passenger/wechat/service/UserAccessService.class
passenger-wechat-api/out/production/classes/com/xxkj/passenger/wechat/mapper/UserAccessMapper.class
passenger-wechat-api/out/production/classes/com/xxkj/passenger/wechat/mapper/PubSupervisionLogMapper.class
passenger-wechat-api/out/production/classes/com/xxkj/passenger/wechat/enums/RequestType.class
passenger-wechat-api/out/production/classes/com/xxkj/passenger/wechat/entity/User.class
passenger-wechat-api/out/production/classes/com/xxkj/passenger/wechat/entity/PubSupervisionLog.class
passenger-wechat-api/out/production/classes/com/xxkj/passenger/wechat/dao/PubSupervisionLogDao.class
passenger-wechat-api/out/production/classes/com/xxkj/passenger/wechat/controller/UserAccessController.class
passenger-wechat-api/out/production/classes/com/xxkj/passenger/wechat/config/MyBatisMapperScannerConfig.class
passenger-wechat-api/out/production/classes/com/xxkj/passenger/wechat/config/MyBatisConfig.class
passenger-wechat-api/out/production/classes/com/xxkj/passenger/wechat/config/CacheHelper.class
passenger-wechat-api/out/production/classes/com/xxkj/passenger/wechat/aop/LogAspect.class
passenger-wechat-api/out/production/classes/com/xxkj/passenger/wechat/TaxiExecption.class
passenger-wechat-api/out/production/classes/com/xxkj/passenger/wechat/PassengerWechatApiApplication.class
passenger-wechat-api/out/production/classes/com/xxkj/passenger/wechat/Constants.class
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/xstream-1.4.7.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/xpp3_min-1.1.4c.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/xmlpull-1.1.3.1.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/xmlbeans-2.6.0.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/velocity-1.7.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/validation-api-1.1.0.Final.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/tomcat-juli-8.5.14.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/tomcat-jdbc-8.5.14.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/tomcat-embed-websocket-8.5.14.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/tomcat-embed-el-8.5.14.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/stax2-api-3.1.4.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/stax-api-1.0.1.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/spring-webmvc-portlet-4.3.8.RELEASE.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/spring-webmvc-4.3.8.RELEASE.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/spring-web-4.3.8.RELEASE.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/spring-tx-4.3.8.RELEASE.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/spring-test-4.3.8.RELEASE.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/spring-retry-1.2.0.RELEASE.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/spring-rabbit-1.7.2.RELEASE.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/spring-orm-4.3.8.RELEASE.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/spring-messaging-4.3.8.RELEASE.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/spring-jdbc-4.3.8.RELEASE.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/spring-expression-4.3.8.RELEASE.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/spring-core-4.3.8.RELEASE.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/spring-context-4.3.8.RELEASE.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/spring-boot-starter-web-1.5.3.RELEASE.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/spring-boot-starter-tomcat-1.5.3.RELEASE.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/spring-boot-starter-logging-1.5.3.RELEASE.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/spring-boot-starter-jdbc-1.5.3.RELEASE.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/spring-boot-starter-aop-1.5.3.RELEASE.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/spring-boot-starter-amqp-1.5.3.RELEASE.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/spring-boot-starter-actuator-1.5.3.RELEASE.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/spring-boot-starter-1.5.4.RELEASE.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/spring-boot-autoconfigure-1.5.3.RELEASE.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/spring-boot-actuator-1.5.3.RELEASE.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/spring-boot-1.5.3.RELEASE.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/spring-beans-4.3.8.RELEASE.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/spring-aop-4.3.8.RELEASE.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/spring-amqp-1.7.2.RELEASE.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/snakeyaml-1.17.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/slf4j-api-1.7.25.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/ry-coach-common-io-1.1.40-SNAPSHOT.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/poi-ooxml-schemas-3.11.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/poi-ooxml-3.11.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/poi-3.11.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/pinyin4j-2.5.0.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/persistence-api-1.0.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/pagehelper-spring-boot-starter-1.1.1.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/pagehelper-spring-boot-autoconfigure-1.1.1.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/pagehelper-5.0.1.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/okio-1.11.0.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/okhttp-3.6.0.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/netty-all-4.1.6.Final.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/mysql-connector-java-5.1.41.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/mybatis-spring-boot-starter-1.1.1.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/mybatis-spring-boot-autoconfigure-1.1.1.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/mybatis-spring-1.3.0.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/mybatis-3.4.0.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/mapper-spring-boot-starter-1.1.1.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/mapper-spring-boot-autoconfigure-1.1.1.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/mapper-3.3.9.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/mail-1.4.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/lombok-1.16.16.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/logging-interceptor-3.6.0.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/logback-core-1.1.11.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/logback-classic-1.1.11.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/log4j-over-slf4j-1.7.25.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/log4j-1.2.15.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/junit-4.12.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/jul-to-slf4j-1.7.25.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/jstl-1.2.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/jsqlparser-0.9.5.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/jsonplugin-0.30.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/json-lib-2.4-jdk15.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/jpush-client-3.2.19.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/joda-time-2.9.9.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/jiguang-common-1.0.6.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/jflow-core-SNAPSHOT-0.0.1.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/jedis-2.9.0.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/jcl-over-slf4j-1.7.25.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/jboss-logging-3.3.1.Final.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/jaxen-1.1.6.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/janino-3.0.7.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/jackson-module-parameter-names-2.8.8.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/jackson-module-jaxb-annotations-2.8.8.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/jackson-mapper-asl-1.9.13.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/jackson-datatype-joda-2.8.8.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/jackson-dataformat-xml-2.6.4.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/jackson-databind-2.6.4.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/jackson-core-asl-1.9.13.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/jackson-core-2.6.4.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/jackson-annotations-2.6.4.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/httpmime-4.5.3.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/httpcore-4.4.6.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/httpclient-cache-4.5.3.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/httpclient-4.5.3.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/http-client-1.1.1.RELEASE.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/hibernate-validator-5.3.5.Final.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/hamcrest-core-1.3.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/guava-17.0.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/gson-2.8.0.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/fluent-hc-4.5.3.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/fastjson-1.2.9.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/fastdfs-client-java-1.25.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/ezmorph-1.0.6.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/dom4j-2.0.1.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/core-3.2.0.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/commons-pool2-2.4.2.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/commons-pool-1.6.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/commons-logging-1.2.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/commons-lang3-3.3.2.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/commons-lang-2.6.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/commons-io-2.4.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/commons-httpclient-3.1.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/commons-fileupload-1.2.2.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/commons-dbcp-1.4.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/commons-compiler-3.0.7.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/commons-collections-3.2.2.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/commons-codec-1.10.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/commons-beanutils-1.9.3.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/classmate-1.3.3.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/carservice-common-0.0.1-SNAPSHOT.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/aspectjweaver-1.8.10.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/aopalliance-1.0.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/amqp-client-4.0.2.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/alipay_jar-1.0.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/activation-1.1.jar
passenger-wechat-api/classes/artifacts/passenger_wechat_api/WEB-INF/lib/HikariCP-2.4.7.jar
meterservice-api/out/production/resources/mapper/sync/GciVehicleMapper.xml
meterservice-api/out/production/resources/mapper/order/OrderTestMapper.xml
meterservice-api/out/production/resources/mapper/order/OpTaxiOrderMapper.xml
meterservice-api/out/production/resources/mapper/order/DriverMapper.xml
meterservice-api/out/production/resources/logback-spring.xml
meterservice-api/out/production/resources/error.properties
meterservice-api/out/production/resources/application.yml
meterservice-api/out/production/resources/application-dev.yml
meterservice-api/module_meterservice-api.xml
meterservice-api/meterservice-api.xml
meterservice-api/meterservice-api.properties
meterservice-api/classes/test/meterservice-api/com/ry/taxi/web/order/StartCalculationTest.class
meterservice-api/classes/test/meterservice-api/com/ry/taxi/web/order/PaymentConfirmationTest.class
meterservice-api/classes/test/meterservice-api/com/ry/taxi/web/order/OrderTakingTest.class
meterservice-api/classes/test/meterservice-api/com/ry/taxi/web/order/EndCalculationTest.class
meterservice-api/classes/test/meterservice-api/com/ry/taxi/web/order/DriverStartTest.class
meterservice-api/classes/test/meterservice-api/com/ry/taxi/web/order/DriverCancelTest.class
meterservice-api/classes/test/meterservice-api/com/ry/taxi/web/order/DriverArrivalTest.class
meterservice-api/classes/test/meterservice-api/com/ry/taxi/web/order/CreateOrderTest.class
meterservice-api/classes/test/meterservice-api/com/ry/taxi/web/BaseWebTest.class
meterservice-api/classes/test/meterservice-api/com/ry/taxi/order/mapper/OrderTestMapper.class
meterservice-api/classes/test/meterservice-api/com/ry/taxi/RyMeterServiceApplicationTest.class
meterservice-api/classes/production/meterservice-api/mapper/sync/GciVehicleMapper.xml
meterservice-api/classes/production/meterservice-api/mapper/order/OrderTestMapper.xml
meterservice-api/classes/production/meterservice-api/mapper/order/OpTaxiOrderMapper.xml
meterservice-api/classes/production/meterservice-api/mapper/order/DriverMapper.xml
meterservice-api/classes/production/meterservice-api/logback-spring.xml
meterservice-api/classes/production/meterservice-api/error.properties
meterservice-api/classes/production/meterservice-api/application.yml
meterservice-api/classes/production/meterservice-api/application-dev.yml
passenger-wechat-api/src/main/resources/rebel.xml
