@charset "utf-8";
/* BY  Zoe   2016/08/08  */
html, body,  span, h1, h2,h3, h4, h5, h6, p, a, font, img,small,input, strong, ul,li ,em,label,div,button,textarea,select,input,div{border: 0;margin: 0;	padding: 0;list-style-type:none;font-style:normal;outline: none;box-sizing: border-box; }
a img {	border: none;}
img{max-width:100%;}
a { text-decoration:none;color: inherit;}
body {font-size:14px;font-family:"微软雅黑";background: #f0f0f0;color:#3d3d3d;min-width:900px;}
.clear:after,.row:after {clear:both;content:' ';display:block;}
.header_bar{height:60px;background: #273644 url('../img/logo.png') no-repeat left center;line-height:60px;text-align: right;}
.con{display: table;position:relative;z-index:1;}
#iframebox{background: #dadada;display: table-cell;vertical-align: top;padding-left:10px;width:790px;}
iframe{border:0px;min-width: 790px;width:100%;min-height:560px;}
.side_bar{text-align: center;color: #bbb;background: #fff;position:relative;display: table-cell;width:100px;}
.side_bar>li{position:relative;height:90px;padding:10px 0px;border-bottom: 1px solid #dadada;}
.side_bar:hover .on .submenu{display: block!important;}
.submenu{padding-left:10px;text-align:left;display:none;position: absolute;left:91px;background: #f3f2f2;top:0;color: #585858;}
.submenu>li{height: 89px;vertical-align: text-top;padding: 0px;width:187px;}
.side_bar>li.on,.side_bar>li.current{background: #f3f2f2;color: #585858;border-left: 8px solid #f33333;}
.sub_r a{display:block;line-height: 160%;font-size: 12px;}
.sub_r a:hover,.sub_l a:hover{color:#f33333;}
.sub_l{height:89px;width: 84px;display: inline-table;vertical-align: text-top;text-align: center;padding-top: 8px;}
.sub_r{padding-left:0px;height: 89px;background: #f3f2f2;display: inline-table;width: 90px;padding-top: 6px;}
.sub_r>li{width: 84px;display: inline-table;}
.sub_r>li+li{margin-left:10px;}
.portait{width:40px;height:40px;margin:10px 10px 0px 0px;}
.operation{z-index:100;display:none;border-radius:6px;color:#616161;position: absolute;top:55px;right: 10px;width:186px;background: url("../img/bg_guanli.png") no-repeat center;text-align: left;padding:27px 16px 0px 16px;height: 172px;}
.operation>li:first-child{line-height: 150%;height: 50px;}
.operation>li:last-child{border-bottom: none;}
.operation>li{cursor: pointer;height:44px;line-height:44px;background: url("../img/btn_r.png") no-repeat center right;border-bottom: 1px solid #dbdbdb;}
.operation img{margin-right:10px;vertical-align: middle;height: 40px;width: 40px;float: left;}
.news{position:relative;background:url("../img/icon_xinxi.png") no-repeat center;display: inline-table;width: 28px;height: 28px;margin-right:24px;position: relative;top:-32px;}
.news_num{color: #fff;font-size: 10px;background: #e71a1a;width:28px;height: 14px;line-height: 14px;text-align: center;position: absolute;top:-5px;left:14px;border-radius:3px;}
.news_li{z-index:100;display:none;position:absolute;top:32px;left:-125px;background: url("../img/bg.png") no-repeat center;width:192px;height: 203px;text-align: center;padding:23px 16px 0px 16px;}
.news_li>li{border-bottom: 1px solid #dbdbdb;height: 44px;line-height:44px}
.news_li>li:last-child{border-bottom: none;}
.font_red{color:#f33333;margin:0px 4px;}
.crumbs{background: #fff;padding:10px  20px;}
.col-1 {width: 8.33333333%;}
.col-2 {width: 16.66666667%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66666667%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33333333%;}
.col-8 {width: 66.66666667%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33333333%;}
.col-11 {width: 91.66666667%;}
.col-12 {width: 100%;}
.ico_a {width: 30px;height: 30px;vertical-align: sub;}
.ico{width:40px;height:40px;display: block;margin: 2px auto;}
.current  .ico_1 ,.on  .ico_1 {background-image: url('../img/nav_1.png')}
.current  .ico_2 ,.on  .ico_2 {background-image: url('../img/nav_2.png')}
.current  .ico_3 ,.on  .ico_3 {background-image: url('../img/nav_3.png')}
.current  .ico_4 ,.on  .ico_4 {background-image: url('../img/nav_4.png')}
.current  .ico_5 ,.on  .ico_5 {background-image: url('../img/nav_5.png')}
.current  .ico_6 ,.on  .ico_6 {background-image: url('../img/nav_6.png')}
.current  .ico_7 ,.on  .ico_7 {background-image: url('../img/nav_7.png')}
.current  .ico_8 ,.on  .ico_8 {background-image: url('../img/nav_8.png')}
.current  .ico_9 ,.on  .ico_9 {background-image: url('../img/nav_9.png')}
.ico_1 {background-image: url('../img/nav_1b.png')}
.ico_2 {background-image: url('../img/nav_2b.png')}
.ico_3 {background-image: url('../img/nav_3b.png')}
.ico_4 {background-image: url('../img/nav_4b.png')}
.ico_5 {background-image: url('../img/nav_5b.png')}
.ico_6 {background-image: url('../img/nav_6b.png')}
.ico_7 {background-image: url('../img/nav_7b.png')}
.ico_8 {background-image: url('../img/nav_8b.png')}
.ico_9 {background-image: url('../img/nav_9b.png')}
.ico_s_1 {background-image: url('../img/nav_s_1.png')}
.ico_s_2 {background-image: url('../img/nav_s_2.png')}
.ico_s_3 {background-image: url('../img/nav_s_3.png')}
.ico_s_4 {background-image: url('../img/nav_s_4.png')}
.ico_s_5 {background-image: url('../img/nav_s_5.png')}
.footer{line-height:400%;color: #808080;text-align: center;background:#273644;}
.cheliangguanli {background-image: url('../img/cheliangguanli.png')}
.submenu .on .cheliangguanli {background-image: url('../img/cheliangguanli_pre.png')}
.sijiguanli {background-image: url('../img/sijiguanli.png')}
.submenu .on .sijiguanli {background-image: url('../img/sijiguanli_pre.png')}
.chuzuche {background-image: url('../img/chuzuche.png')}
.submenu .on .chuzuche {background-image: url('../img/chuzuche_pre.png')}
.wangyueche {background-image: url('../img/wangyueche.png')}
.submenu .on .wangyueche {background-image: url('../img/wangyueche_pre.png')}
 .kehuguanli {background-image: url('../img/kehuguanli.png')}
 .submenu.on .kehuguanli {background-image: url('../img/kehuguanli_pre.png')}
 .yonghuguanli {background-image: url('../img/yonghuguanli.png')}
 .submenu.on .yonghuguanli {background-image: url('../img/yonghuguanli_pre.png')}
 .cheliangguanli {background-image: url('../img/cheliangguanli.png')}
 .submenu.on .cheliangguanli {background-image: url('../img/cheliangguanli_pre.png')}
 .sijiguanli {background-image: url('../img/sijiguanli.png')}
 .submenu.on .sijiguanli {background-image: url('../img/sijiguanli_pre.png')}
 .cherenguanli {background-image: url('../img/cherenguanli.png')}
 .submenu.on .cherenguanli {background-image: url('../img/cherenguanli_pre.png')}
 .fuwuchexing {background-image: url('../img/fuwuchexing.png')}
 .submenu.on .fuwuchexing {background-image: url('../img/fuwuchexing_pre.png')}
 .paidanguize {background-image: url('../img/paidanguize.png')}
 .submenu.on .paidanguize {background-image: url('../img/paidanguize_pre.png')}
 .jifeiguize {background-image: url('../img/jifeiguize.png')}
 .submenu.on .jifeiguize {background-image: url('../img/jifeiguize_pre.png')}
 .jiaojiebanguize {background-image: url('../img/jiaojiebanguize.png')}
 .submenu.on .jiaojiebanguize {background-image: url('../img/jiaojiebanguize_pre.png')}
 .jiaojiechuli {background-image: url('../img/jiaojiechuli.png')}
 .submenu.on .jiaojiechuli {background-image: url('../img/jiaojiechuli_pre.png')}
 .jiaojiejilu {background-image: url('../img/jiaojiejilu.png')}
 .submenu.on .jiaojiejilu {background-image: url('../img/jiaojiejilu_pre.png')}
 .zhanghuguanli {background-image: url('../img/zhanghuguanli.png')}
 .submenu.on .zhanghuguanli {background-image: url('../img/zhanghuguanli_pre.png')}
 .tuikuanguanli {background-image: url('../img/tuikuanguanli.png')}
 .submenu.on .tuikuanguanli {background-image: url('../img/tuikuanguanli_pre.png')}
 .tixianguanli {background-image: url('../img/tixianguanli.png')}
 .submenu.on .tixianguanli {background-image: url('../img/tixianguanli_pre.png')}
 .jiesuanguanli {background-image: url('../img/jiesuanguanli.png')}
 .submenu.on .jiesuanguanli {background-image: url('../img/jiesuanguanli_pre.png')}
 .gerendingdantongji {background-image: url('../img/gerendingdantongji.png')}
 .submenu.on .gerendingdantongji {background-image: url('../img/gerendingdantongji_pre.png')}
 .sijidingdantongji {background-image: url('../img/sijidingdantongji.png')}
 .submenu.on .sijidingdantongji {background-image: url('../img/sijidingdantongji_pre.png')}
 .chuzuchediaodutongji {background-image: url('../img/chuzuchediaodutongji.png')}
 .submenu.on .chuzuchediaodutongji {background-image: url('../img/chuzuchediaodutongji_pre.png')}
 .chuzuchexingchengtongji {background-image: url('../img/chuzuchexingchengtongji.png')}
 .submenu.on .chuzuchexingchengtongji {background-image: url('../img/chuzuchexingchengtongji_pre.png')}
 .xiaoshoutongji {background-image: url('../img/xiaoshoutongji.png')}
 .submenu.on .xiaoshoutongji {background-image: url('../img/xiaoshoutongji_pre.png')}
 .baojingguanli {background-image: url('../img/baojingguanli.png')}
 .submenu.on .baojingguanli {background-image: url('../img/baojingguanli_pre.png')}
 .zhanghuanguanli {background-image: url('../img/zhanghuanguanli.png')}
 .submenu.on .zhanghuanguanli {background-image: url('../img/zhanghuanguanli_pre.png')}
 .jueseguanli {background-image: url('../img/jueseguanli.png')}
 .submenu.on .jueseguanli {background-image: url('../img/jueseguanli_pre.png')}
 .cheliangpingpaiguanli {background-image: url('../img/cheliangpingpaiguanli.png')}
 .submenu.on .cheliangpingpaiguanli {background-image: url('../img/cheliangpingpaiguanli_pre.png')}
 .pingpaichexiguanli {background-image: url('../img/pingpaichexiguanli.png')}
 .submenu.on .pingpaichexiguanli {background-image: url('../img/pingpaichexiguanli_pre.png')}
 .xinxishezhi {background-image: url('../img/xinxishezhi.png')}
 .submenu.on .xinxishezhi {background-image: url('../img/xinxishezhi_pre.png')}
 .shoukuanzhanghu {background-image: url('../img/shoukuanzhanghu.png')}
 .submenu.on .shoukuanzhanghu{background-image: url('../img/shoukuanzhanghu_pre.png')}
 .xieyitiaokuan {background-image: url('../img/xieyitiaokuan.png')}
 .submenu.on .xieyitiaokuan {background-image: url('../img/xieyitiaokuan_pre.png')}
 .apppeizhi {background-image: url('../img/apppeizhi.png')}
 .submenu.on .apppeizhi {background-image: url('../img/apppeizhi_pre.png')}
 .xiugaimima {background-image: url('../img/xiugaimima.png')}
 .submenu.on .xiugaimima {background-image: url('../img/xiugaimima_pre.png')}
 .zhanghaoguanli {background-image: url('../img/zhanghaoguanli.png')}
 .submenu.on .zhanghaoguanli {background-image: url('../img/zhanghaoguanli_pre.png')}
 
 
