@charset "utf-8";
/* BY  Zoe   2016/08/08  */
html, body,  span, h1, h2,h3, h4, h5, h6, p, a, font, img,small,input, strong, ul,li ,em,label,div,button,textarea,select,input{border: 0;margin: 0;padding: 0;list-style-type:none;font-style:normal;outline: none;box-sizing: border-box;}
a img {	border: none;}
img{max-width:100%;}
input::-ms-clear,input ::-ms-reveal,::-ms-clear,::-ms-reveal{display: none!important;}
a { text-decoration:none;color: inherit;}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {background-color:rgb(0, 0, 0);}
body {font-size:14px;font-family:"微软雅黑";background:#DADADA;color:#3d3d3d;}
input[type=checkbox],input[type=number],button{-webkit-appearance: none; -moz-appearance:none;-o-appearance:none; -ms-appearance:none;appearance: none;font-size: inherit;}
select::-ms-expand { display: none; }
select{background-color: none!important\9;padding:0px 8px;padding-top:2px;color:#949494;width:100%;border: solid 1px #dbdbdb;height:30px;background: url("../img/btn_tree_down.png") no-repeat center right;appearance:none;-moz-appearance:none;-webkit-appearance:none;border-radius:3px;}
select:hover{background: url("../img/btn_tree_up.png") no-repeat center right;background-repeat: no-repeat!important\9;}
optgroup,select option{line-height:30px;padding:4px 10px;}
textarea{width:100%;padding:10px!important;overflow-y:hidden}
input[type=text],input[type=password],textarea{border:1px solid #dbdbdb;border-radius: 3px;color:#949494;resize:none;padding: 0px 10px;}
input[type=number]{border: 1px solid #dedede;width:38px;height: 27px;text-align: center;}
input[type=radio]{vertical-align: middle;margin: 0px 6px 0px 30px;height: 14px;width:14px;-webkit-appearance: none;border:2px solid #a0a0a0;border-radius: 50%;}
input[type=text],input[type=password]{height:30px;line-height: 30px;}
input[type=radio]:checked{border:4px solid #208bfe;}
input[type=checkbox]{width: 15px;height: 15px;margin-right:8px;border: 1px solid #ccc;border-radius: 3px;vertical-align: sub;}
input[type=checkbox]:disabled:checked{background: #e6e6e6 url("../img/gou.png") no-repeat center;border: none;background-size:100%  100%; }
input[type=checkbox]:disabled{border: 1px solid #e6e6e6}
input[type=checkbox]:checked{background: #208bfe url("../img/gou.png") no-repeat center;border: none;background-size:100%  100%; }
.checkbox_b{border-radius: 50%!important;}
.checkbox_b:checked{background: #fff url("../img/dian_b.png") no-repeat center!important;}
.checkbox_b:disabled:checked{background: #fff url("../img/dian_a.png") no-repeat center!important;}
.form input[type=text]:focus,.form input[type=password]:focus,.form textarea:focus{border:1px solid #f33333;color: #333;}
input[type=text]:disabled,textarea:disabled{border: 1px solid #dbdbdb;color: #ccc;background: #f7f7f7;}
.select_val{background: url("../img/btn_down.png") no-repeat center right;color: #3d3d3d;height: 30px;line-height: 30px;width:100%;}
.select_val:hover{background-image: url("../img/btn_up.png");}
.select_box:hover .select_content{display: block;}
.select_box:hover{border-top: 1px solid #949494;border-left: 1px solid #949494;border-right: 1px solid #949494;border-bottom: none;border-bottom-left-radius:0px;border-bottom-right-radius:0px;}
.select_box{border: 1px solid #dbdbdb;border-radius: 3px;padding: 0px 10px;display: inline-table;width: 100%;position:relative; }
.select_content{border-radius:0px 0px 3px 3px;box-sizing: content-box;border-left: 1px solid #949494;border-right: 1px solid #949494;border-bottom: 1px solid #949494;background:#fff;margin-right: -2px;border-top: 1px solid #949494;display: none;color: #949494;max-height:300px;position: absolute;top:29px;left:-1px;width: 100%;}
.select_content>li{padding: 0px 10px;height: 30px;line-height: 30px;}
.select_content>li:hover{background: #f33333;color: #fff;}
.fl {float:left;}
.fr {float:right;}
.clear:after,.row:after {clear:both;content:' ';display:block;}
.asterisk:after{content:'*';color: #ff0000;padding: 0px 6px;vertical-align: middle;font-size: 16px;font-weight: bold;}
button:hover{opacity:0.6;}
.LLLbtn,.LLbtn,.Lbtn,.Mbtn,.Sbtn,.SSbtn{color: #fff;border-radius: 3px;text-align: center;letter-spacing:2px;}
.LLbtn{font-size: 18px;padding: 15px 42px;}
.Lbtn{font-size: 16px;padding: 12px 16px;}
.Mbtn{font-size: 14px;padding: 6px 16px;}
.Sbtn{font-size: 14px;padding: 7px 14px;}
.SSbtn{font-size: .9em;padding:3px 9px;letter-spacing:0px!important;}
.grey {background:#bdbdbd;}
.grey_b {background:#949494;}
.grey_c {background:#ededed;}
.red {background:#f33333;}
.green{background:#9be09b;}
.blue{background:#00c9c7;}
.green_a{background:#37c137;}
.orange{background:#f38a33;}
.pink{background:#ff5660;}
.yellow_a{background:#f7f7f7;}
/** 例子：司机管理的删除按钮红色***/
.red_q{background:#FE3935;}
/** 例子：司机管理的新增、修改按钮绿色****/
.green_q{background:#00CD37;}
/** 例子：司机管理的导出数据按钮绿色****/
.blue_q{background:#1E93EE;}
/** 例子：司机管理的重置密码按钮灰色****/
.grey_q{background:#999999;}
/** 例子：出租车绑定 ，指定当班****/
.purple_q{background:#8F00C5;}
/** 例子：关闭，取消****/
.grey_w{background:#BDBDBD;}
/** 例子 ：服务车型 分配车系**/
.yellow_q{background:#D09728;}
/** 例子：运管端个人用户禁用记录****/
.blue_w{background:#009CD0;}
[class*=col]{float: left;line-height: 150%;padding:6px 10px;min-height:1px;}
.form label,.tip_box_b label{display: inline-block;width:30%;text-align: right;padding-right: 10px;}
.form input[type=text],.form input[type=password]{vertical-align: baseline;width:66%;}
.crumbs{background: #fff;padding:10px  20px;margin-top: 10px;}
.content{margin-top:22px;background: #fff;padding: 0em 20px 40px 20px;min-height:826px;}
.tabmenu{text-align: center;line-height: 300%;}
.tabmenu .on{border-bottom:3px solid #f33333;}
.tabbox>li{display:none;}
.tabmenu li {display: inline-block;font-size: 1.2em;padding:0px 10px;}
.col-1 {width: 8.33333333%;}
.col-2 {width: 16.66666667%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66666667%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33333333%;}
.col-8 {width: 66.66666667%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33333333%;}
.col-11 {width: 91.66666667%;}
.col-12 {width: 100%;}
.w400{width: 400px;margin: 0px auto;overflow-x: hidden;}
h1{font-size: 22px;}
h2{font-size: 20px;font-weight: normal;}
h3{font-size: 18px;}
h4{font-size: 16px;}
h5{font-size: 14px;}
h6{font-size: 12px;}
h1, h2,h3, h4, h5, h6{font-weight: normal;}
.font_red{color:#f33333;}
.font_grey{color:#9e9e9e;}
.font_green{color:#37c137;}
.pop_box{z-index:9999;display:none;position: fixed;top:0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF7a7a7a,endColorstr=#BF666666)\10;}
.tip_box_a {margin:80px 35% auto 35%;padding: 30px;text-align: center;background: #fff;border-radius: 10px;overflow-y:hidden;}
.tip_box_b {margin-top:80px;margin-left:-240px;position:absolute;left:50%;background: #fff;text-align: center;border-radius: 5px;padding-bottom: 20px;width: 480px;max-height:500px;}
.tip_box_b label.error{margin-left: 32%!important;} 
.tip_box_b  input[type=text],.tip_box_b  input[type=password]{width: 68%;margin-top: 18px;}
.tip_box_b .close,.tip_box_d .close{float: right;margin-top: -35px;margin-right: 10px;opacity:1;}
.close{opacity:1 !important;}
.tip_box_c{margin:30px 10%  auto 10%;background: #fff;border-radius: 5px;padding: 40px 20px;max-height:685px;}
.tip_box_d{margin:80px 25%  auto 25%;background: #fff;border-radius: 5px;padding-bottom:40px;max-height:500px;overflow-y:scroll;}
.tip_box_a h2{font-weight: bold;color:#000;}
.Lbtn+.Lbtn{margin-left: 9%;margin-top:30px;}
.tip_box_d h3{padding-left:20px;}
.tip_box_b h3,.tip_box_d h3{font-weight: bold;color:#000;background: #f5f5f5;border-bottom: 1px solid #d0d0d0;line-height: 240%;margin-bottom: 5px;border-top-left-radius:5px;border-top-right-radius:5px;}
.tip_text{color: #999;margin-top:14px;margin-bottom: 24px; }
.error_htm{text-align: center;padding-top: 250px;font-weight: bold;font-size: 16px;color: #7a7a7a;}
.login_logo{width:161px;height: 114px;margin:0 auto;padding-top:250px;background: url("../img/login_logo.png") no-repeat center center;}
.login_box{border-radius:3px;background: #fff;position: fixed;top:50%;left: 50%;padding-top: 32px;margin-left:-181px;margin-top:-112px;width: 362px;height: 224px;}
.login_box input{height: 34px;line-height: 34px;width:210px;font-size: 14px;padding: 0px 8px;margin-left: 30px;border: 1px solid #dbdbdb;
    border-radius: 3px;color: #949494; resize: none;}
.ico_user{background:url("../img/icon_zhanghao.png") no-repeat center;}
.ico_lock{background:url("../img/icon_mima.png") no-repeat center;}
.ico_user,.ico_lock{border-top-left-radius:3px;border-bottom-left-radius:3px;display: inline-table;width:34px;height:34px;background-color: #dbdbdb;position: absolute;left: 0;top:0;}
.login_box>li{width: 240px;position:relative;border-radius: 3px;margin: 0px auto 10px auto;}
.bg{width:100%;height:100%;position:absolute;top:0px;left:0px;z-index:-1;}
label.error{width:100%;font-size:.9em;color: #f33333;margin-top:4px;padding-left: 16px;line-height: 150%;text-align: left; }
label.error:before{content:url("../img/ico_x_a.png");display:inline-block;vertical-align:text-bottom;margin-right:5px;}
.form label.error{padding-left: 30%;line-height: 100%;height: auto;}
input.error{border: 1px solid #f33333;}
.login_btn{display:block;width: 240px; height: 36px;margin:20px auto auto auto;border-radius:3px;background: #f33333;color: #fff;text-align: center;vertical-align: middle;letter-spacing:6px;}
.ico_x_a{background:url("../img/ico_x_a.png") no-repeat center;display: inline-table;height: 14px;width: 14px;}
.ico_gou{background:url("../img/icon_ok.png") no-repeat center;display: inline-table;height: 14px;width: 14px;}
.table_a{width:100%;border-width: 1px;
	border:1px solid #dbdbdb;
	border-collapse: collapse;}
.table_a td {border: 1px solid #dbdbdb;padding:6px 10px;}
.table_a   td。grey_c{text-align:right;}
.back{float:right;margin-top:-3px;}

/*表格部分样式开始*/
/* 
.dataTables_wrapper{margin:25px 0px 10px 0px;padding: 0px 10px;}
.dataTables_filter{float: right;margin-top: -33px;}
.dataTables_length{margin-bottom: 10px;}
.dataTables_filter input{height:26px;margin-left: 10px;line-height: 170%;border: 1px solid #dbdbdb;border-radius: 3px;color: #949494;resize: none;padding: 0px 10px;}
table.dataTable{width:100%;border-top:5px solid #000;border-bottom:1px solid #e8e8e8;border-left:1px solid #e8e8e8;border-right:1px solid #e8e8e8;box-sizing: content-box;clear: both;border-collapse: separate;
    border-spacing: 2px;margin: 0 auto; border-collapse: collapse;}
.dataTable td,.dataTable th{border:solid #e8e8e8; border-width:0px 1px 1px 0px;padding:10px;text-align:center;}
tr:last-child{border-bottom:none;}
th:last-child{border-right: none;}
tr>td:last-child{border-right: none;}
tr:last-child>td{border-bottom: none;}
th{outline: none;}
.dataTables_info{margin-top:14px;}
.dataTables_paginate{float: right;text-align: right;margin-top: -22px;}
.dataTables_length select{vertical-align: inherit;border: 1px solid  #dfdfdf;text-align: center;height:26px;width:56px;padding-right:0px\9;}
.paginate_button{text-align:center;border-left:1px solid #dfdfdf;border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;width: 27px;height:27px;line-height: 27px;color: #a8a8a8;display: inline-table;}
.dataTables_paginate>a:first-child{width:52px;}
.dataTables_paginate>span+a{width:52px;border-right:1px solid #dfdfdf;}
.dataTables_wrapper .ellipsis{display: inline-table;border-left:1px solid #dfdfdf;height: 27px;line-height: 27px;}
.dataTables_wrapper  .current{background:#bdbdbd;color: #eee;}
.dataTables_wrapper .disabled {opacity: .6;}
table.dataTable thead .sorting_asc {background: url('../img/sort_asc.png') no-repeat center right;}
.sorting {background: url("../img/sort_both.png") no-repeat center right;}
table.dataTable thead .sorting_desc {background: url("../img/sort_desc.png") no-repeat center right;}
.dataTables_wrapper .turnpage{float: right;margin-top: -22px;margin-left: 10px;}
.dataTables_processing{display:none!important;}
 */
/*部分通用兼容处理*/

.dataTable td,.dataTable th{text-align:center;}

/*input[type=text],input[type=password],input[type=search],textarea,input[type=checkbox]{behavior: url(css/ie-css3.htc)\9;position:relative\9;z-index:10\9;}
.tip_box_a,.tip_box_c,.tip_box_d,.radius{behavior: url(css/PIE.htc)\9;position:relative\9;z-index:10\9;}
input[type=radio],input[type=checkbox]{border:none\9;}*/

/* .dataTables_wrapper ::-webkit-scrollbar{height:4px;}
.dataTables_wrapper ::-webkit-scrollbar-track{background-color:#f5f5f5;}
.dataTables_wrapper ::-webkit-scrollbar-thumb{background-color:#e4e4e4;}
.dataTables_wrapper ::-webkit-scrollbar-thumb:hover {background-color:#e2e2e2} */

/*样式修改*/
.crumbs .back{
	position: relative;
	top:2px;
}
.table-bordered thead tr th {
  border-bottom-width: 1px;
}
.DTFC_RightWrapper{
	display:none;
}


.bubbleData_box{
	position: absolute;
    max-width: 200px;
    right: 0;
    bottom: 25px;
    white-space: nowrap;
    text-align: left;
    background: white;
    padding:5px 6px 5px 8px;
    z-index:999;
    background:url("../img/bg_tc4.png") no-repeat center;
	background-size: 100% 100%;
	display:none;
}
.bubbleData_box_span1{
	width:10px;
	height:8px;
	background:url("../img/bg_tc2.png") no-repeat center;
	background-size: 100% 100%;
	position:absolute;
	bottom:-8px;
	right:30px;
	z-index:1000;
}
.bubbleData_box_span2{
	width:100%;
	height:5px;
	background:url("../img/bg_tc3.png") no-repeat center;
	background-size: 100% 100%;
	position:absolute;
	bottom:-5px;
	left:0;
}
.bubbleData_box_span3{
	height:100%;
	width:5px;
	background:url("../img/bg_tc5.png") no-repeat center;
	background-size: 100% 100%;
	position:absolute;
	bottom:0;
	left:-5px;
}
.DTFC_LeftBodyLiner{
	width:100% !important;
	overflow: hidden !important;
}