<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ry.taxi.order.mapper.DriverMapper">
    
<select id="getDriverByJobNum" parameterType="String" resultType="com.ry.taxi.order.domain.PubDriver">
	SELECT
		CONCAT(
		(
		SELECT
		pub_dictionary.text
		FROM
		pub_dictionary
		WHERE
		pub_dictionary.type = '车牌省'
		AND pub_dictionary.`value` = pv.platenoprovince
		AND pub_dictionary.`status` = 1
		),
		(
		SELECT
		pub_dictionary.text
		FROM
		pub_dictionary
		WHERE
		pub_dictionary.type = '车牌市'
		AND pub_dictionary.`value` = pv.platenocity
		AND pub_dictionary.`status` = 1
		),
		pv.plateno
		) plateno,
		pv.id vehicleid,
		pv.id vehicleid,
		pvc.`name` vehclinename,
		pvb.`Name` vehcbrandname,
		pd.*
		FROM
		pub_driver pd
		LEFT JOIN pub_driver_vehicle_ref pdvr ON pdvr.`Status` = 1
		AND pdvr.driverId = pd.id
		LEFT JOIN pub_vehicle pv ON pv.`Status` = 1
		AND pv.id = pdvr.vehicleId
		LEFT JOIN pub_vehcline pvc ON pvc.`Status` = 1
		AND pvc.Id = pv.vehclineid
		LEFT JOIN pub_vehcbrand pvb ON pvb.`Status` = 1
		AND pvb.Id = pvc.vehcBrandID
		LEFT JOIN op_vehiclemodels_vehicle_ref ovvr ON ovvr.`status` = 1
		AND ovvr.vehicleid = pdvr.vehicleId
		LEFT JOIN op_vehiclemodels ov ON ov.`status` = 1
		AND ov.Id = ovvr.vehiclemodelsid
		LEFT JOIN le_vehcline_models_ref lvmr ON lvmr.`Status` = 1
		AND lvmr.vehclineid = pv.vehclineid
		LEFT JOIN le_vehiclemodels lv ON lv.`Status` = 1
		AND lv.Id = lvmr.vehiclemodelsid
		WHERE 1=1
		AND pd.`Status` = 1
		AND pd.jobnum = #{jobNum}
		limit 1
</select>

<insert id="insertDriver" parameterType="com.ry.taxi.order.request.DriverTakeParam">
	insert into pub_driver(
		leasescompanyid, jobnum,     name,        phone,    jobstatus,
		identitytype,    gpsspeed,   gpsdirection,lng,      lat,
		status,          platformtype, workstatus, gpssource, gpstime	
	)
	select lea.id, 	     ve.driverno,  ve.drivername, #{mobile}, '0',
		   '0',          ve.speed,     ve.direction,  ve.longitude, ve.latitude,
		   '1',          '0',          '0',           '1',        ve.gpstime
	from gci_vehicletrace ve 
	left join le_leasescompany lea on ve.leasescompanyid = lea.id and ve.company = lea.name 
	where ve.plateno = #{plateNum, jdbcType=VARCHAR}
	and ve.driverno = #{certNum,  jdbcType=VARCHAR}
	order by id desc
	limit 1
	ON DUPLICATE KEY 
	UPDATE
	phone = #{mobile,jdbcType=VARCHAR}
</insert>



</mapper>