<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ry.taxi.order.mapper.DriverMapper">
    
<select id="getDriverByJobNum" parameterType="String" resultType="com.ry.taxi.order.domain.PubDriver">
	SELECT
		CONCAT(
		(
		SELECT
		pub_dictionary.text
		FROM
		pub_dictionary
		WHERE
		pub_dictionary.type = '车牌省'
		AND pub_dictionary.`value` = pv.platenoprovince
		AND pub_dictionary.`status` = 1
		),
		(
		SELECT
		pub_dictionary.text
		FROM
		pub_dictionary
		WHERE
		pub_dictionary.type = '车牌市'
		AND pub_dictionary.`value` = pv.platenocity
		AND pub_dictionary.`status` = 1
		),
		pv.plateno
		) plateno,
		pd.id,
		pd.`name` drivername,
		pd.phone driverphone,
		pd.jobnum,
		pd.workstatus,
		pd.vehicletype drivertype,
		lv.`name` cartype,
		pvb.`Name` carbrand,
		pvc.`name` carvehcline
		pb.leasescompanyid,
		pb.belongleasecompany
		FROM
		pub_driver pd
		LEFT JOIN pub_driver_vehicle_ref pdvr ON pdvr.`Status` = 1
		AND pdvr.driverId = pd.id
		LEFT JOIN pub_vehicle pv ON pv.`Status` = 1
		AND pv.id = pdvr.vehicleId
		LEFT JOIN pub_vehcline pvc ON pvc.`Status` = 1
		AND pvc.Id = pv.vehclineid
		LEFT JOIN pub_vehcbrand pvb ON pvb.`Status` = 1
		AND pvb.Id = pvc.vehcBrandID
		LEFT JOIN op_vehiclemodels_vehicle_ref ovvr ON ovvr.`status` = 1
		AND ovvr.vehicleid = pdvr.vehicleId
		LEFT JOIN op_vehiclemodels ov ON ov.`status` = 1
		AND ov.Id = ovvr.vehiclemodelsid
		LEFT JOIN le_vehcline_models_ref lvmr ON lvmr.`Status` = 1
		AND lvmr.vehclineid = pv.vehclineid
		LEFT JOIN le_vehiclemodels lv ON lv.`Status` = 1
		AND lv.Id = lvmr.vehiclemodelsid
		WHERE 1=1
		AND pd.`Status` = 1
		AND pd.jobnum = #{jobNum}
		limit 1
</select>

	<update id="updatePubDriver" parameterType="com.ry.taxi.order.domain.PubDriver">
		INSERT INTO `pub_driver`(`id`) 
		VALUES(#{id})
		ON DUPLICATE KEY UPDATE 
			leasescompanyid=#{leasescompanyid},
			jobnum=#{jobnum},
			name=#{name},
			phone=#{phone},
			sex=#{sex},
			userpassword=#{userpassword},
			withdrawpwd=#{withdrawpwd},
			driverstype=#{driverstype},
			cardtime=#{cardtime},
			city=#{city},
			jobstatus=#{jobstatus},
			identitytype=#{identitytype},
			driversnum=#{driversnum},
			driverphoto=#{driverphoto},
			idcardnum=#{idcardnum},
			idcardfront=#{idcardfront},
			idcardback=#{idcardback},
			<if test="workstatus!=null and workstatus!='' ">
				workstatus=#{workstatus},
			</if>
			gpsspeed=#{gpsspeed},
			gpsdirection=#{gpsdirection},
			lng=#{lng},
			lat=#{lat},
			avgrate=#{avgrate},
			ordercount=#{ordercount},
			CreateTime=#{CreateTime},
			UpdateTime=#{UpdateTime},
			Creater=#{Creater},
			Updater=#{Updater},
			Status=#{Status},
			headportraitmin=#{headportraitmin},
			headportraitmax=#{headportraitmax},
			driveryears=#{driveryears},
			boundstate=#{boundstate},
			lockstatus=#{lockstatus},
			platformtype=#{platformtype},
			passworkstatus=#{passworkstatus},
			wdpwdchangestate=#{wdpwdchangestate},
			heartbeattime=#{heartbeattime},
			registrationid=#{registrationid}
	</update>

</mapper>