<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ry.taxi.order.mapper.OpTaxiOrderMapper">
	<select id = "getOpTaxiOrder" resultType="com.ry.taxi.order.domain.OpTaxiOrder">
		SELECT
			oo.*	
		FROM op_taxiorder oo
		WHERE  oo.`status` = 1
		AND oo.orderno = #{orderno}
	</select>
	
	<update id="updateTakingOrder" parameterType="com.ry.taxi.order.domain.OpTaxiOrder">
		UPDATE `op_taxiorder` oo SET 
			oo.driverid = #{driverid}, 
			oo.companyid = #{companyid},
			oo.vehicleid = #{vehicleid}, 
			oo.orderstatus =#{orderstatus},
			oo.ordertime = #{ordertime}, 
			oo.plateno = #{plateno}, 
			oo.vehcbrandname = #{vehcbrandname}, 
			oo.vehclinename = #{vehclinename}, 
			oo.ordersortcolumn = #{ordersortcolumn},
			oo.belongleasecompany = #{belongleasecompany},
			oo.updatetime = NOW()
		WHERE oo.thirdorderno = #{thirdorderno}
		AND oo.orderstatus IN(0,1);
	</update>

</mapper>