<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 引入接口，只要实现接口的方法就会调用对应接口方法的 select id -->
<mapper namespace="com.szyciov.operate.mapper.OrderExportMapper">
	<!-- All Select -->
	<select id="getOrderExportDataByQuery" parameterType="OrderExportEntity" resultType="OrderExportParam">
		select t.*
	      from(select orderno,onaddress,offaddress,estimatedtime,ROUND(estimatedmileage,1) estimatedmileage,DATE_FORMAT(undertime,'%Y-%m-%d %H:%i:%s')undertime,DATE_FORMAT(usetime,'%Y-%m-%d %H:%i:%s')usetime,DATE_FORMAT(ordertime,'%Y-%m-%d %H:%i:%s')ordertime,DATE_FORMAT(starttime,'%Y-%m-%d %H:%i:%s')starttime,DATE_FORMAT(endtime,'%Y-%m-%d %H:%i:%s')endtime,
         (case when ordertype = '1' then '约车' when ordertype ='2' then '接机' when ordertype = '3' then '送机' else '出租车'end) ordertype,organid,
         (case when ordersource in ('00','01','02') then '乘客端' when ordersource = '10' then '租赁端' when ordersource = '20' then '机构端' else '运管端' end) as ordersource,
         (case when paymentstatus = '0' then '未支付' when paymentstatus = '1' then '已支付' when paymentstatus = '2' then '结算中' when paymentstatus = '3' then '已结算' when paymentstatus = '4' then '未结算' when paymentstatus = '8' then '已付结' else '未付结' end)paymentstatus,
          ifnull(ROUND(mileage/1000,1),0.0) mileage,driverid,jobnum,name,phone,plateno,(select l.name from le_leasescompany l where l.id = companyid)companyid,passengerphone,passengers,userid,ifnull(ROUND(orderamount,1),0.0) orderamount,
         (case when orderstatus = '7' then '行程结束' else '已取消' end) orderstatus,
          ifnull(ROUND((UNIX_TIMESTAMP(endtime)-UNIX_TIMESTAMP(starttime))/60+0.49),0) runtime,cartype,(case when usetype = '0' then '机构因公' when usetype = '1' then '机构因私' else '个人' end) as usetype
				     from(select orderno,onaddress,offaddress,estimatedtime,estimatedmileage,undertime,usetime,ordertime,starttime,endtime,ordertype,mileage,driverid,vehicleid,
				             plateno,companyid,passengerphone,passengers,userid,paymentstatus,shouldpayamount orderamount,orderstatus ,departuretime,arrivaltime,
                  pricemodelname cartype,organid,
                   ordersource,usetype
                 from org_order
						     WHERE orderstatus in ('7','8') and status = '1'
						     UNION ALL
						     select orderno,onaddress,offaddress,estimatedtime,estimatedmileage,undertime,usetime,ordertime,starttime,endtime,ordertype,mileage,driverid,vehicleid,
						         plateno,companyid,passengerphone,passengers,userid,paymentstatus,shouldpayamount orderamount,orderstatus,departuretime,arrivaltime,
                  pricemodelname cartype ,'' organid,
                  ordersource ,'2' usetype
						     from op_order
						     WHERE orderstatus in ('7','8')  and status = '1'
						     UNION ALL
						     select orderno,onaddress,offaddress,estimatedtime,estimatedmileage,undertime,usetime,ordertime,starttime,endtime,ordertype,mileage,driverid,vehicleid,
						         plateno,companyid,passengerphone,passengers,userid,paymentstatus,shouldpayamount orderamount,orderstatus,departuretime,arrivaltime,
                  '' cartype,''organid,
                  ordersource,'2' usetype
						     from op_taxiorder
						     WHERE orderstatus in ('7','8')  and status = '1')aa LEFT JOIN pub_driver d on aa.driverid = d.id
						where 1=1
		<if test="starttime != null and starttime != ''">
	        and STR_TO_DATE(aa.usetime,'%Y-%m-%d') <![CDATA[ >= ]]> STR_TO_DATE(#{starttime},'%Y-%m-%d')
	    </if>
	    <if test="endtime != null and endtime != ''">
	        and STR_TO_DATE(aa.usetime,'%Y-%m-%d') <![CDATA[ <= ]]> STR_TO_DATE(#{endtime},'%Y-%m-%d')
	    </if>
	     <if test="ordertype != null and ordertype != ''">
           and  aa.ordertype = #{ordertype}
	    </if>
	    <if test="usetype != null and usetype != ''">
	        and aa.usetype = #{usetype}
	    </if>
	    <if test="passengers != null and passengers != ''">
	        and aa.userid = #{passengers}
	    </if>
	    <if test="driver != null and driver != ''">
	       and aa.driverid = #{driver}
        </if>
        <if test="paymentstatus != null and paymentstatus != ''">
	       and aa.paymentstatus = #{paymentstatus}
        </if>
         <if test="organid != null and organid != ''">
	       and aa.organid = #{organid}
        </if>
		 ORDER BY aa.usetime DESC,aa.paymentstatus,ordertype)t
		LIMIT ${iDisplayStart},${iDisplayLength}
	</select>
	<select id="getOrderExportDataCount" parameterType="OrderExportEntity" resultType="int">
		select count(*) from(select * from(select orderno,onaddress,offaddress,estimatedtime,estimatedmileage,undertime,usetime,ordertime,starttime,endtime,ordertype,mileage,driverid,
				             plateno,companyid,passengerphone,passengers,userid,paymentstatus,orderamount,orderstatus,usetype,organid
						from org_order
						WHERE  orderstatus in ('7','8') and status = '1'
						UNION ALL
						select orderno,onaddress,offaddress,estimatedtime,estimatedmileage,undertime,usetime,ordertime,starttime,endtime,ordertype,mileage,driverid,
						       plateno,companyid,passengerphone,passengers,userid,paymentstatus,orderamount,orderstatus,'2'usetype,''organid
						from op_order
						WHERE orderstatus in ('7','8')  and status = '1'
						UNION ALL
						select orderno,onaddress,offaddress,estimatedtime,estimatedmileage,undertime,usetime,ordertime,starttime,endtime,ordertype,mileage,driverid,
						       plateno,companyid,passengerphone,passengers,userid,paymentstatus,orderamount,orderstatus,'2'usetype,''organid
						from op_taxiorder
						WHERE orderstatus in ('7','8')  and status = '1')aa LEFT JOIN pub_driver d on aa.driverid = d.id
						where 1=1
		<if test="starttime != null and starttime != ''">
	        and STR_TO_DATE(aa.usetime,'%Y-%m-%d') <![CDATA[ >= ]]> STR_TO_DATE(#{starttime},'%Y-%m-%d')
	    </if>
	    <if test="endtime != null and endtime != ''">
	        and STR_TO_DATE(aa.usetime,'%Y-%m-%d') <![CDATA[ <= ]]> STR_TO_DATE(#{endtime},'%Y-%m-%d')
	    </if>
	     <if test="ordertype != null and ordertype != ''">
           and  aa.ordertype = #{ordertype}
	    </if>
	    <if test="usetype != null and usetype != ''">
	        and aa.usetype = #{usetype}
	    </if>
	    <if test="passengers != null and passengers != ''">
	        and aa.userid = #{passengers}
	    </if>
	    <if test="driver != null and driver != ''">
	       and aa.driverid = #{driver}
        </if>
        <if test="paymentstatus != null and paymentstatus != ''">
	       and aa.paymentstatus = #{paymentstatus}
        </if>
         <if test="organid != null and organid != ''">
	       and aa.organid = #{organid}
        </if>
		 ORDER BY aa.usetime,aa.paymentstatus,ordertype)t
	</select>
	<select id="getDriver" resultType="Map" parameterType="OrderExportEntity">
			SELECT
				id,
				CONCAT(NAME, ' ', phone) text
			FROM
				pub_driver
			where 1=1
				<if test="driver != null and driver != '' ">
					and 
					CONCAT(NAME, ' ', phone)
				like "%"#{driver}"%"
		        </if> 
		    ORDER BY CONCAT(NAME, ' ', phone)
	</select>
	<select id="getPassage" resultType="Map" parameterType="OrderExportEntity">
			select * from (select id, if(isnull(nickname) || nickname = '', account, concat(nickname, " ", account)) text
							from pe_user
							where status = 1
			UNION ALL
						select id, if(isnull(nickname) || nickname = '', account, concat(nickname, " ", account)) text
								from org_user
								where  status = 1) aa
								where 1 = 1
						<if test="passengers != null and passengers != '' ">
								and 
								aa.text
							   like "%"#{passengers}"%"
				        </if> 
						ORDER BY aa.text
	</select>
	<select id="getAllOrganid" resultType="Map" parameterType="OrderExportEntity">
			select id , fullname  text from org_organ where 1=1 and status = '1'
						<if test="organid != null and organid != '' ">
								and 
								fullname
							   like "%"#{organid}"%"
				        </if> 
						ORDER BY fullname
	</select>
	<select id="exportOrders" parameterType="OrderExportEntity" resultType="OrderExportParam">
		select t.*
	      from(select orderno,onaddress,offaddress,estimatedtime,ROUND(estimatedmileage,1) estimatedmileage,DATE_FORMAT(undertime,'%Y-%m-%d %H:%i:%s')undertime,DATE_FORMAT(usetime,'%Y-%m-%d %H:%i:%s')usetime,DATE_FORMAT(ordertime,'%Y-%m-%d %H:%i:%s')ordertime,DATE_FORMAT(starttime,'%Y-%m-%d %H:%i:%s')starttime,DATE_FORMAT(endtime,'%Y-%m-%d %H:%i:%s')endtime,
         (case when ordertype = '1' then '约车' when ordertype ='2' then '接机' when ordertype = '3' then '送机' else '出租车'end) ordertype,organid,
         (case when ordersource in ('00','01','02') then '乘客端' when ordersource = '10' then '租赁端' when ordersource = '20' then '机构端' else '运管端' end) as ordersource,
         (case when paymentstatus = '0' then '未支付' when paymentstatus = '1' then '已支付' when paymentstatus = '2' then '结算中' when paymentstatus = '3' then '已结算' when paymentstatus = '4' then '未结算' when paymentstatus = '8' then '已付结' else '未付结' end)paymentstatus,
          ifnull(ROUND(mileage/1000,1),0.0) mileage,driverid,jobnum,name,phone,plateno,(select l.name from le_leasescompany l where l.id = companyid)companyid,passengerphone,passengers,userid,ifnull(ROUND(orderamount,1),0) orderamount,(case when orderstatus = '7' then '行程结束' else '已取消' end) orderstatus,
          ifnull(ROUND((UNIX_TIMESTAMP(endtime)-UNIX_TIMESTAMP(starttime))/60+0.49),0) runtime,cartype,(case when usetype = '0' then '机构因公' when usetype = '1' then '机构因私' else '个人' end) as usetype
				     from(select orderno,onaddress,offaddress,estimatedtime,estimatedmileage,undertime,usetime,ordertime,starttime,endtime,ordertype,mileage,driverid,vehicleid,
				             plateno,companyid,passengerphone,passengers,userid,paymentstatus,shouldpayamount orderamount,orderstatus ,departuretime,arrivaltime,
                   pricemodelname cartype,organid,
                   ordersource,usetype
                 from org_order
						     WHERE  orderstatus in ('7','8')  and status = '1'
						     UNION ALL
						     select orderno,onaddress,offaddress,estimatedtime,estimatedmileage,undertime,usetime,ordertime,starttime,endtime,ordertype,mileage,driverid,vehicleid,
						         plateno,companyid,passengerphone,passengers,userid,paymentstatus,shouldpayamount orderamount,orderstatus,departuretime,arrivaltime,
               pricemodelname cartype,'' organid,
                  ordersource ,'2' usetype
						     from op_order
						     WHERE orderstatus in ('7','8') and  status = '1'
						     UNION ALL
						     select orderno,onaddress,offaddress,estimatedtime,estimatedmileage,undertime,usetime,ordertime,starttime,endtime,ordertype,mileage,driverid,vehicleid,
						         plateno,companyid,passengerphone,passengers,userid,paymentstatus,shouldpayamount orderamount,orderstatus,departuretime,arrivaltime,
                  '' cartype,''organid,
                  ordersource,'2' usetype
						     from op_taxiorder
						     WHERE orderstatus in ('7','8') and status = '1')aa LEFT JOIN pub_driver d on aa.driverid = d.id
						where 1=1
		<if test="starttime != null and starttime != ''">
	        and STR_TO_DATE(aa.usetime,'%Y-%m-%d') <![CDATA[ >= ]]> STR_TO_DATE(#{starttime},'%Y-%m-%d')
	    </if>
	    <if test="endtime != null and endtime != ''">
	        and STR_TO_DATE(aa.usetime,'%Y-%m-%d') <![CDATA[ <= ]]> STR_TO_DATE(#{endtime},'%Y-%m-%d')
	    </if>
	     <if test="ordertype != null and ordertype != ''">
           and  aa.ordertype = #{ordertype}
	    </if>
	    <if test="usetype != null and usetype != ''">
	        and aa.usetype = #{usetype}
	    </if>
	    <if test="passengers != null and passengers != ''">
	        and aa.userid = #{passengers}
	    </if>
	    <if test="driver != null and driver != ''">
	       and aa.driverid = #{driver}
        </if>
        <if test="paymentstatus != null and paymentstatus != ''">
	       and aa.paymentstatus = #{paymentstatus}
        </if>
         <if test="organid != null and organid != ''">
	       and aa.organid = #{organid}
        </if>
		 ORDER BY aa.usetime DESC,aa.paymentstatus,ordertype)t
	</select>
</mapper>