<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szyciov.operate.mapper.PubAdimageMapper">
	
	<!-- 分页查询广告信息 -->
	<sql id="query_pubAdimage_query">
		from
			pub_adimage,
			pub_dictionary
		where
			pub_adimage.apptype = pub_dictionary.value
			and pub_dictionary.type = "终端类型"
			and pub_adimage.status = 1
			and pub_dictionary.status = 1
			<if test='null != apptype and "" != apptype'>
				and pub_adimage.apptype = #{apptype}
			</if>
			<if test='null != imgtype and "" != imgtype'>
				and pub_adimage.imgtype = #{imgtype}
			</if>
			<if test='null != version and "" != version'>
				and pub_adimage.version like concat("%", #{version}, "%")
			</if>
			<if test='null != name and "" != name'>
				and pub_adimage.name like concat("%", #{name}, "%")
			</if>
			<if test='null != starttime and "" != starttime'>
				and pub_adimage.starttime &gt;= #{starttime}
			</if>
			<if test='null != endtime and "" != endtime'>
				and pub_adimage.endtime &lt;= #{endtime}
			</if>
	</sql>
	<select id="getPubAdimageListByQuery" parameterType="PubAdimageQueryParam" resultType="PubAdimage">
		select
			pub_adimage.*,
			pub_dictionary.text apptypeName,
			(case when pub_adimage.starttime &lt; now() and pub_adimage.endtime &gt; now() then "1" else "2" end) isvalid
		<include refid="query_pubAdimage_query"></include>
		order by pub_adimage.updatetime desc
		limit #{iDisplayStart},#{iDisplayLength}
	</select>
	<select id="getPubAdimageCountByQuery" parameterType="PubAdimageQueryParam" resultType="int">
		select
			count(*)
		<include refid="query_pubAdimage_query"></include>
	</select>
	
	<!-- 新增广告信息 -->
	<insert id="insertPubAdimage" parameterType="PubAdimage">
		insert into pub_adimage(id, apptype, imgtype, version, name, starttime, endtime, imgaddr, creater, updater, createtime, updatetime, usestate, status)
		values(#{id}, #{apptype}, #{imgtype}, #{version}, #{name}, #{starttime}, #{endtime}, #{imgaddr}, #{creater}, #{updater}, #{createtime}, #{updatetime}, #{usestate}, #{status})
	</insert>
	
	<!-- 修改广告信息 -->
	<update id="updatePubAdimage" parameterType="PubAdimage">
		update pub_adimage set id = #{id}
		<if test='null != apptype and "" != apptype'>
			,apptype = #{apptype}
		</if>
		<if test='null != imgtype and "" != imgtype'>
			,imgtype = #{imgtype}
		</if>
		<if test='null != version and "" != version'>
			,version = #{version}
		</if>
		<if test='null != name and "" != name'>
			,name = #{name}
		</if>
		<if test='null != starttime and "" != starttime'>
			,starttime = #{starttime}
		</if>
		<if test='null != endtime and "" != endtime'>
			,endtime = #{endtime}
		</if>
		<if test='null != imgaddr and "" != imgaddr'>
			,imgaddr = #{imgaddr}
		</if>
		<if test='null != creater and "" != creater'>
			,creater = #{creater}
		</if>
		<if test='null != updater and "" != updater'>
			,updater = #{updater}
		</if>
		<if test='null != createtime and "" != createtime'>
			,createtime = #{createtime}
		</if>
		<if test='null != updatetime and "" != updatetime'>
			,updatetime = #{updatetime}
		</if>
		<if test='null != usestate and "" != usestate'>
			,usestate = #{usestate}
		</if>
		<if test='null != status and "" != status'>
			,status = #{status}
		</if>
		where id = #{id}
	</update>
	
	<!-- 根据id获取广告详情 -->
	<select id="getPubAdimageList" parameterType="PubAdimage" resultType="PubAdimage">
		select
			pub_adimage.*,
			pub_dictionary.text apptypeName
		from
			pub_adimage,
			pub_dictionary
		where
			pub_adimage.apptype = pub_dictionary.value
			and pub_dictionary.type = "终端类型"
			and pub_adimage.status = 1
			and pub_dictionary.status = 1
			<if test='null != id and "" != id'>
				and pub_adimage.id = #{id}
			</if>
			<if test='null != apptype and "" != apptype'>
				and pub_adimage.apptype = #{apptype}
			</if>
			<if test='null != imgtype and "" != imgtype'>
				and pub_adimage.imgtype = #{imgtype}
			</if>
			<if test='null != version and "" != version'>
				and pub_adimage.version = #{version}
			</if>
			<if test='null != name and "" != name'>
				and pub_adimage.name = #{name}
			</if>
			<if test='null != starttime and "" != starttime'>
				and pub_adimage.starttime = #{starttime}
			</if>
			<if test='null != endtime and "" != endtime'>
				and pub_adimage.endtime = #{endtime}
			</if>
			<if test='null != imgaddr and "" != imgaddr'>
				and pub_adimage.imgaddr = #{imgaddr}
			</if>
			<if test='null != creater and "" != creater'>
				and pub_adimage.creater = #{creater}
			</if>
			<if test='null != updater and "" != updater'>
				and pub_adimage.updater = #{updater}
			</if>
			<if test='null != createtime and "" != createtime'>
				and pub_adimage.createtime = #{createtime}
			</if>
			<if test='null != updatetime and "" != updatetime'>
				and pub_adimage.updatetime = #{updatetime}
			</if>
			<if test='null != usestate and "" != usestate'>
				and pub_adimage.usestate = #{usestate}
			</if>
	</select>
	
	<!-- 根据APP类型修改启用状态 -->
	<update id="updatePubAdviseUseState" parameterType="PubAdimage">
		update pub_adimage set usestate = #{usestate}, updater = #{updater}, updatetime = now() where apptype = #{apptype} and imgtype = #{imgtype}
	</update>
	
	<!-- 根据id获取详细信息 -->
	<select id="getPubAdimageById" parameterType="string" resultType="PubAdimage">
		select * from pub_adimage where id = #{id}
	</select>
	
</mapper>