<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 引入接口，只要实现接口的方法就会调用对应接口方法的 select id -->
<mapper namespace="com.szyciov.supervision.mapper.PubDriverMapper">

    <!--司机上班查询信息-->
    <select id="onWork" parameterType="string" resultType="com.szyciov.supervision.api.dto.order.DriverOnWork">
        SELECT pd.name driverName,pd.idcardnum driverIDCard,pd.jobnum driverCertCard,pd.phone driverPhone,
        pv.fullplateno vehicleNo,pv.color plateColor,
        (SELECT creditno FROM  le_leasescompany where pd.leasescompanyid=id  )identifier,
        (SELECT pvb.`Name` FROM pub_vehcline pvl  JOIN pub_vehcbrand pvb ON pvl.vehcBrandID=pvb.id   WHERE pvl.id=pv.vehclineid ) brand
        FROM  pub_driver pd
        JOIN pub_vehicle pv on pv.Status=1 JOIN pub_driver_vehicle_ref pdvr  ON pdvr.status=1 AND pdvr.vehicleid=pv.id AND pdvr.driverid=pd.id
        WHERE pd.id=#{driverid} and pd.Status=1
    </select>

    <!--司机下班-->
    <select id="offWork" parameterType="string" resultType="com.szyciov.supervision.api.dto.order.DriverOffWork">
        SELECT pd.name driverName,pd.idcardnum driverIDCard,pd.jobnum driverCertCard,pd.phone driverPhone,
        pv.fullplateno vehicleNo,pv.color plateColor,
        (SELECT creditno FROM  le_leasescompany where pd.leasescompanyid=id  )identifier
        FROM  pub_driver pd
        JOIN pub_vehicle pv on pv.Status=1 JOIN pub_driver_vehicle_ref pdvr  ON pdvr.status=1 AND pdvr.vehicleid=pv.id AND pdvr.driverid=pd.id
        WHERE pd.id=#{driverid} and pd.Status=1
    </select>

</mapper>