<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szyciov.lease.mapper.EffectAnalysisMapper">

      <select id="getCouponUsageSendCitys" resultType="java.util.Map">
         select DISTINCT pc.id as id,pc.city as text from pub_coupon_activity_use_city pcauc
           inner join pub_cityaddr pc on pcauc.city=pc.id 
         where EXISTS (
            select coupon.couponactivyidref from pub_coupon coupon where coupon.couponactivyidref in 
            (select id from pub_coupon_activity where platformtype=1 and sendruletarget=2 and lecompanyid=#{lecompanyid} and status=1) 
            and coupon.couponactivyidref=pcauc.couponactivityidref and coupon.status=1)
            <if test="city != null and city != ''">
            and pc.city like concat('%',#{city},'%')
            </if>
      </select>
      
      <select id="queryCouponUsageList" parameterType="couponusagequeryparam" resultType="couponusagedto">
          select pc.id,pc.city,count(*) as totalcount from pub_coupon_activity_use_city pcauc
          INNER join pub_cityaddr pc on pcauc.city=pc.id 
          INNER join pub_coupon coupon on coupon.couponactivyidref=pcauc.couponactivityidref
          where pcauc.couponactivityidref in 
            (select id from pub_coupon_activity where platformtype=1 and sendruletarget=2 and lecompanyid=#{lecompanyid} and status=1)
              and date_format(coupon.createtime,'%Y-%m-%d') <![CDATA[   >=  ]]> #{usedstarttime}
              and date_format(coupon.createtime,'%Y-%m-%d') <![CDATA[   <=  ]]> #{usedendtime}
             <if test="city != null and city != ''">
              and pc.id=#{city}
            </if>
            group by pcauc.city
      </select>
      
      <select id="queryCouponUsageListCount" parameterType="couponusagequeryparam" resultType="Integer">
          select count(*) from (
            select pc.id from pub_coupon_activity_use_city pcauc
              INNER join pub_cityaddr pc on pcauc.city=pc.id 
              INNER join pub_coupon coupon on coupon.couponactivyidref=pcauc.couponactivityidref
            where pcauc.couponactivityidref in 
              (select id from pub_coupon_activity where platformtype=1 and sendruletarget=2 and lecompanyid=#{lecompanyid} and status=1)
              and date_format(coupon.createtime,'%Y-%m-%d') <![CDATA[   >=  ]]> #{usedstarttime}
              and date_format(coupon.createtime,'%Y-%m-%d') <![CDATA[   <=  ]]> #{usedendtime}
              <if test="city != null and city != ''">
              and pc.id=#{city}
              </if>
              group by pcauc.city) v
      </select>
      
      <select id="queryUsedCouponList" resultType="java.util.Map">
          select oo.oncity as city, ifnull(count(*),0) as total From pub_coupon_use pcu inner join op_order oo on pcu.billingorderid=oo.orderno
          where pcu.usetype=2 
            and EXISTS 
            (select couponactivyidref from pub_coupon pc where pc.couponactivyidref in 
            (select id from pub_coupon_activity where platformtype=1 and sendruletarget=2 and lecompanyid=#{lecompanyid} and status=1) 
            and pc.id=pcu.id and pc.couponstatus=1 and pc.status=1)
            and pcu.status=1 group by oo.oncity
       union all
          select oo.oncity as city,ifnull(count(*),0) as total From pub_coupon_use pcu inner join op_taxiorder oo on pcu.billingorderid=oo.orderno
          where pcu.usetype=2 
            and EXISTS 
            (select couponactivyidref from pub_coupon pc where pc.couponactivyidref in 
            (select id from pub_coupon_activity where platformtype=1 and sendruletarget=2 and lecompanyid=#{lecompanyid} and status=1) 
            and pc.id=pcu.id and pc.couponstatus=1 and pc.status=1)
            and pcu.status=1 group by oo.oncity
       union all
          select oo.oncity as city,ifnull(count(*),0) as total From pub_coupon_use pcu inner join org_order oo on pcu.billingorderid=oo.orderno
          where pcu.usetype=2 
            and EXISTS 
            (select couponactivyidref from pub_coupon pc where pc.couponactivyidref in 
            (select id from pub_coupon_activity where platformtype=1 and sendruletarget=2 and lecompanyid=#{lecompanyid} and status=1) 
            and pc.id=pcu.id and pc.couponstatus=1 and pc.status=1)
            and pcu.status=1 group by oo.oncity
      </select>
      
      <select id="queryRegisterCount" parameterType="UserRechargeQueryParam" resultType="Integer">
          select ifnull(count(*),0) from org_user 
            where organid in 
              (select organid from org_organ_company_ref where companyid=#{lecompanyid} and status='1')
              and status='1'
              and date_format(registertime,'%Y-%m-%d') <![CDATA[   >=  ]]> #{starttime}
              and date_format(registertime,'%Y-%m-%d') <![CDATA[   <=  ]]> #{endtime}
      </select>
      
      <select id="queryRechargeCount" parameterType="UserRechargeQueryParam" resultType="Integer">
           select ifnull(COUNT(DISTINCT ex.userid),0) from org_userexpenses ex
           where exists (
             select ou.id from org_user ou
             where ou.organid in 
              (select organid from org_organ_company_ref where companyid=#{lecompanyid} and status='1')
              and status='1'
              and date_format(registertime,'%Y-%m-%d') <![CDATA[   >=  ]]> #{starttime}
              and date_format(registertime,'%Y-%m-%d') <![CDATA[   <=  ]]> #{endtime}
             and ex.userid=ou.id
          ) and ex.tradetype='0'
            and ex.operateresult='0' 
      </select>
      
</mapper>