<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 引入接口，只要实现接口的方法就会调用对应接口方法的 select id -->
<mapper namespace="com.szyciov.lease.mapper.IndividualAccountRulesMapper">
<!-- parameterType传入参数类型     resultMap=自己定义的一个返回类型     resultType返回类型 -->
	<select id="getIndividualAccountRulesListByQuery" resultType="LeCompanyRulesRef" parameterType="IndividualAccountRulesQueryParam">
	    select t.* from
	    (select (@rownum := @rownum + 1) as rownum,t1.* from
	    (select le_company_rules_ref.*,
	      (select org_organ.shortname from org_organ where org_organ.id = le_company_rules_ref.organid) as shortName,
	      (select le_user.nickname from le_user where le_user.id = le_company_rules_ref.creater) as createrVisual,
	      (case le_company_rules_ref.rulestate when '0' then '草稿' when '1' then '启用' when '2' then '禁用' when '3' then '已过期' end) as ruleStateName
	    from le_company_rules_ref
	    where le_company_rules_ref.leasescompanyid = #{leasesCompanyId}
	      and le_company_rules_ref.status = 1
	    <if test="organId != null and organId != ''">
	        and le_company_rules_ref.organid = #{organId}
	    </if>
	    <if test="organId == null or organId == ''">
	        and le_company_rules_ref.organid IN (
	        <choose>
	          <!-- 普通 -->
              <when test="specialState != '1'.toString()">
              SELECT
			        le_roledataauthority.dynamicid as organid
		      FROM
			        le_roledataauthority,
			        le_roleuser,
			        le_user
		      WHERE
		            le_roledataauthority.status=1
		            and le_roleuser.status=1
		            and le_user.status=1
		            and le_user.id = le_roleuser.userid
		            and le_roleuser.roleid = le_roledataauthority.roleid
		            and le_user.account=#{account}
		            and le_user.leasescompanyid = #{leasesCompanyId}
              </when>
              <otherwise>
     	      <!-- 超管 -->
		      SELECT
			        org_organ.id as organid
		      FROM
			        org_organ,
			        org_organ_company_ref
		      WHERE
		            org_organ.status=1
		            and org_organ_company_ref.status=1
		            and org_organ_company_ref.organid = org_organ.id
		            and org_organ_company_ref.companyid = #{leasesCompanyId}
              </otherwise>
            </choose>)
	    </if>
	    <if test="startTime != null and startTime != ''">
	        and le_company_rules_ref.starttime <![CDATA[ >= ]]> #{startTime}
	    </if>
	    <if test="endTime != null and endTime != ''">
	        and le_company_rules_ref.endtime <![CDATA[ <= ]]> #{endTime}
	    </if>
	    <if test="ruleState != null and ruleState != ''">
	        and le_company_rules_ref.rulestate = #{ruleState}
	    </if>
	    order by CONVERT(shortName USING gbk ) COLLATE gbk_chinese_ci,le_company_rules_ref.starttime,le_company_rules_ref.endtime) t1, (select @rownum := 0) r ) t
	    <![CDATA[
	    where t.rownum > #{iDisplayStart} and t.rownum <=  (#{iDisplayStart} +  #{iDisplayLength})
	    ]]>
	</select>
	
	<select id="getIndividualAccountRulesListCountByQuery" resultType="int" parameterType="IndividualAccountRulesQueryParam">
	    select count(*)
	    from le_company_rules_ref
	    where le_company_rules_ref.leasescompanyid = #{leasesCompanyId}
	      and le_company_rules_ref.status = 1
	    <if test="organId != null and organId != ''">
	        and le_company_rules_ref.organid = #{organId}
	    </if>
	    <if test="organId == null or organId == ''">
	        and le_company_rules_ref.organid IN (
	        <choose>
	          <!-- 普通 -->
              <when test="specialState != '1'.toString()">
              SELECT
			        le_roledataauthority.dynamicid as organid
		      FROM
			        le_roledataauthority,
			        le_roleuser,
			        le_user
		      WHERE
		            le_roledataauthority.status=1
		            and le_roleuser.status=1
		            and le_user.status=1
		            and le_user.id = le_roleuser.userid
		            and le_roleuser.roleid = le_roledataauthority.roleid
		            and le_user.account=#{account}
		            and le_user.leasescompanyid = #{leasesCompanyId}
              </when>
              <otherwise>
     	      <!-- 超管 -->
		      SELECT
			        org_organ.id as organid
		      FROM
			        org_organ,
			        org_organ_company_ref
		      WHERE
		            org_organ.status=1
		            and org_organ_company_ref.status=1
		            and org_organ_company_ref.organid = org_organ.id
		            and org_organ_company_ref.companyid = #{leasesCompanyId}
              </otherwise>
            </choose>)
	    </if>
	    <if test="startTime != null and startTime != ''">
	        and le_company_rules_ref.starttime <![CDATA[ >= ]]> #{startTime}
	    </if>
	    <if test="endTime != null and endTime != ''">
	        and le_company_rules_ref.endtime <![CDATA[ <= ]]> #{endTime}
	    </if>
	    <if test="ruleState != null and ruleState != ''">
	        and le_company_rules_ref.rulestate = #{ruleState}
	    </if>
	</select>

	<select id="getOrganList" resultType="OrgOrgan" parameterType="hashmap">
	    select org_organ.id as id,org_organ.shortname as shortName
	    from org_organ, 
	    (select distinct le_company_rules_ref.organid
	    from le_company_rules_ref
	    where le_company_rules_ref.leasescompanyid = #{leasesCompanyId}
	      and le_company_rules_ref.status = 1 ) t1
	    where org_organ.id = t1.organid
	      and org_organ.status = 1
	      and org_organ.id IN 
	      (<choose>
	          <!-- 普通 -->
              <when test="specialState != '1'.toString()">
              SELECT
			        le_roledataauthority.dynamicid as organid
		      FROM
			        le_roledataauthority,
			        le_roleuser,
			        le_user
		      WHERE
		            le_roledataauthority.status=1
		            and le_roleuser.status=1
		            and le_user.status=1
		            and le_user.id = le_roleuser.userid
		            and le_roleuser.roleid = le_roledataauthority.roleid
		            and le_user.account=#{account}
		            and le_user.leasescompanyid = #{leasesCompanyId}
              </when>
              <otherwise>
     	      <!-- 超管 -->
		      SELECT
			        org_organ.id as organid
		      FROM
			        org_organ,
			        org_organ_company_ref
		      WHERE
		            org_organ.status=1
		            and org_organ_company_ref.status=1
		            and org_organ_company_ref.organid = org_organ.id
		            and org_organ_company_ref.companyid = #{leasesCompanyId}
              </otherwise>
         </choose>)
	</select>
	
	<update id = "disableIndividualLeCompanyRulesRef" parameterType="LeCompanyRulesRef">
		update le_company_rules_ref
		set rulestate=#{ruleState},updater=#{updater},updateTime=now()
		where leasescompanyid = #{leasesCompanyId}
		  and id = #{id}
		  and status = 1
	</update>
	
	<select id="getIndividualRulesCountById" resultType="int" parameterType="string">
	    select count(*)
	    from le_company_rules_ref
	    where id = #{id}
	      and rulestate = 1
	      and status = 1
	</select>

	<select id="getInsertOrganList" resultType="OrgOrgan" parameterType="hashmap">
	    select org_organ.id as id,org_organ.shortname as shortName
	    from org_organ,
	    (<choose>
	          <!-- 普通 -->
              <when test="specialState != '1'.toString()">
              SELECT
			        le_roledataauthority.dynamicid as organid
		      FROM
			        le_roledataauthority,
			        le_roleuser,
			        le_user
		      WHERE
		            le_roledataauthority.status=1
		            and le_roleuser.status=1
		            and le_user.status=1
		            and le_user.id = le_roleuser.userid
		            and le_roleuser.roleid = le_roledataauthority.roleid
		            and le_user.account=#{account}
		            and le_user.leasescompanyid = #{leasesCompanyId}
              </when>
              <otherwise>
     	      <!-- 超管 -->
		      SELECT
			        org_organ.id as organid
		      FROM
			        org_organ,
			        org_organ_company_ref
		      WHERE
		            org_organ.status=1
		            and org_organ_company_ref.status=1
		            and org_organ_company_ref.organid = org_organ.id
		            and org_organ_company_ref.companyid = #{leasesCompanyId}
              </otherwise>
         </choose>) t1
	    where org_organ.id = t1.organid
	      and org_organ.cooperationstatus = 1
	      and org_organ.status = 1
	</select>
	
	<select id="getInsertCityList" resultType="hashmap" parameterType="hashmap">    
	    select pub_cityaddr.id as id,pub_cityaddr.city as text
	    from pub_cityaddr,
	    (select distinct le_accountrules.city
	    from le_accountrules
	    where le_accountrules.leasescompanyid = #{leasesCompanyId}
	      and le_accountrules.status = 1
	      and le_accountrules.type = 0
	      and le_accountrules.rulesstate = 0 ) t1
	    where pub_cityaddr.id = t1.city
	      and pub_cityaddr.status = 1
	    <if test="cityName != null and cityName != ''">
	        and pub_cityaddr.city like "%"#{cityName}"%"
	    </if>
	</select>

	<select id="getIndividualAccountRulesListByOrgan" resultType="LeAccountRules" parameterType="IndividualAccountRulesQueryParam">
	    select t.* from
	    (select (@rownum := @rownum + 1) as rownum,t1.* from
	    (select le_accountrules.*,pub_cityaddr.city as cityName,
	       (select le_vehiclemodels.name from le_vehiclemodels where le_vehiclemodels.Id = le_accountrules.cartype) as carTypeName,
	       (select pub_dictionary.text from pub_dictionary where pub_dictionary.type = '订单类型' and pub_dictionary.value = le_accountrules.rulestype) as rulesTypeName,
	       (case le_accountrules.timetype when '0' then '总用时' when '1' then '低速用时' end) as timeTypeName,
	        CONCAT(le_accountrules.`nightstarttime`,'-',le_accountrules.`nightendtime`) as nighttimes,
	       IFNULL(le_accountrules.perhour,'---') as perhourVisual
	    from le_accountrules left join pub_cityaddr on (le_accountrules.city = pub_cityaddr.id and pub_cityaddr.status = 1)
	    where le_accountrules.leasescompanyid = #{leasesCompanyId}
	      and le_accountrules.rulesrefid = #{id}
	      and le_accountrules.type = 1
	      and le_accountrules.status = 1
	    order by pub_cityaddr.cityInitials,le_accountrules.rulestype) t1, (select @rownum := 0) r ) t
	    <![CDATA[
	    where t.rownum > #{iDisplayStart} and t.rownum <=  (#{iDisplayStart} +  #{iDisplayLength})
	    ]]>
	</select>
	
	<select id="getIndividualAccountRulesListCountByOrgan" resultType="int" parameterType="IndividualAccountRulesQueryParam">
	    select count(*)
	    from le_accountrules
	    where le_accountrules.leasescompanyid = #{leasesCompanyId}
	      and le_accountrules.rulesrefid = #{id}
	      and le_accountrules.type = 1
	      and le_accountrules.status = 1
	</select>
	
	<update id = "updateIndividualAccountRules" parameterType="LeAccountRules">
		update le_accountrules
		set startprice=#{startPrice},rangeprice=#{rangePrice},timeprice=#{timePrice},perhour=#{perhour},updater=#{updater},updatetime=now(),deadheadmileage=#{deadheadmileage},deadheadprice=#{deadheadprice},nightstarttime=#{nightstarttime},nightendtime=#{nightendtime},nighteprice=#{nighteprice}
		where leasescompanyid = #{leasesCompanyId}
		  and id = #{id}
		  and type = 1
		  and status = 1
	</update>
	
	<select id="getAccountRulesCountById" resultType="int" parameterType="hashmap">
	    select count(*)
	    from le_accountrules
	    where leasescompanyid = #{leasesCompanyId}
	      and id = #{id}
	      and type = 1
	      and status = 1
	</select>
	
	<update id = "deleteIndividualAccountRules" parameterType="hashmap">
		update le_accountrules
		set status = 2,updatetime = now()
		where id = #{id}
		  and leasescompanyid = #{leasesCompanyId}
		  and type = 1 
	</update>
	
	<select id="getRulesDateByOrgan" resultType="hashmap" parameterType="hashmap">
	    select starttime,endtime
	    from le_company_rules_ref
	    where leasescompanyid = #{leasesCompanyId}
	      and organid = #{organId}
	      and rulestate = 1
	      and status = 1
	</select>
	
	<select id="getIndividualAccountRulesListByCity" resultType="LeAccountRules" parameterType="hashmap"> 
	    select le_accountrules.*,le_vehiclemodels.name as carTypeName,
	       (select pub_cityaddr.city from pub_cityaddr where pub_cityaddr.id = le_accountrules.city) as cityName,
	       (select pub_dictionary.text from pub_dictionary where pub_dictionary.type = '订单类型' and pub_dictionary.value = le_accountrules.rulestype) as rulesTypeName
	    from le_accountrules left join le_vehiclemodels on (le_accountrules.cartype = le_vehiclemodels.Id and le_accountrules.leasescompanyid = le_vehiclemodels.leasescompanyid and le_vehiclemodels.status = 1)
	    where le_accountrules.leasescompanyid = #{leasesCompanyId}
	      and le_accountrules.city = #{city}
	      and le_accountrules.type = 0
	      and le_accountrules.rulesstate = 0
	      and le_accountrules.status = 1 
	    order by le_accountrules.rulestype,le_vehiclemodels.level
	</select>

	<select id="getRulesIdByDate" resultType="string" parameterType="LeCompanyRulesRef">
	    select le_company_rules_ref.id
	    from le_company_rules_ref
	    where le_company_rules_ref.leasescompanyid = #{leasesCompanyId}
	      and le_company_rules_ref.status = 1
	      and le_company_rules_ref.organid = #{organId}
	      and le_company_rules_ref.rulestate = #{ruleState}
	      and le_company_rules_ref.starttime = #{startTime}
	      and le_company_rules_ref.endtime = #{endTime}
	</select>
	
	<select id="getRulesCountById" resultType="int" parameterType="LeAccountRules">
	    select count(*)
	    from
	    (select le_accountrules.city,le_accountrules.rulestype,le_accountrules.cartype
	    from le_accountrules
	    where le_accountrules.rulesrefid = #{rulesRefId}
	      and le_accountrules.leasescompanyid = #{leasesCompanyId}
	      and le_accountrules.type = 1
	      and le_accountrules.status = 1 ) t1,
	    (select le_accountrules.city,le_accountrules.rulestype,le_accountrules.cartype
	    from le_accountrules
	    where le_accountrules.id = #{rulesId}
	      and le_accountrules.leasescompanyid = #{leasesCompanyId}
	      and le_accountrules.status = 1
	      and le_accountrules.type = 0) t2  
	    where t1.city = t2.city
	      and t1.rulestype = t2.rulestype  
	      and t1.cartype = t2.cartype
	</select>
	
	<insert id="createIndividualLeCompanyRulesRef" parameterType="LeCompanyRulesRef">
	    insert into le_company_rules_ref(id,leasescompanyid,organid,rulestate,starttime,endtime,createtime,updatetime,creater,updater,status)
	    values(#{id},#{leasesCompanyId},#{organId},0,#{startTime},#{endTime},now(),now(),#{creater},#{updater},1)
	</insert>
	
	<insert id="createIndividualLeAccountRules" parameterType="LeAccountRules">
	    insert into le_accountrules(id,rulesrefid,leasescompanyid,city,rulestype,cartype,startprice,rangeprice,timeprice,timetype,perhour,type,rulesstate,reason,createtime,updatetime,creater,updater,status,deadheadmileage,deadheadprice,nighteprice,nightstarttime,nightendtime)
	    select #{id},#{rulesRefId},leasescompanyid,city,rulestype,cartype,startprice,rangeprice,timeprice,timetype,perhour,1,0,reason,now(),now(),#{creater},#{updater},1,deadheadmileage,deadheadprice,nighteprice,nightstarttime,nightendtime
	    from le_accountrules
	    where id = #{rulesId}
	      and leasescompanyid = #{leasesCompanyId}
	      and type = 0
	      and status = 1
	</insert>

    <select id="getRulesCountByOrgan" resultType="int" parameterType="LeCompanyRulesRef">
	    select count(*)
	    from le_company_rules_ref
	    where leasescompanyid = #{leasesCompanyId}
	      and organid = #{organId}
	      and rulestate = 1
	      and status = 1
	</select>

	<select id="getRulesCountByQuery" resultType="int" parameterType="LeCompanyRulesRef">
	    select count(*)
	    from le_company_rules_ref
	    where le_company_rules_ref.leasescompanyid = #{leasesCompanyId}
	      and le_company_rules_ref.status = 1
	      and le_company_rules_ref.organid = #{organId}
	      and le_company_rules_ref.rulestate = 1
	      and NOT EXISTS (
	          select t1.id
	          from le_company_rules_ref t1
	          where t1.leasescompanyid = #{leasesCompanyId}
	            and t1.status = 1
	            and t1.organid = #{organId}
	            and t1.rulestate = 1
	            and (t1.starttime <![CDATA[ > ]]> #{endTime} or t1.endtime <![CDATA[ < ]]> #{startTime})
	            and le_company_rules_ref.id = t1.id
	      )
	</select>
	
	<select id="getRulesCountByRulesRefId" resultType="int" parameterType="LeCompanyRulesRef">
	    select count(*)
	    from le_accountrules
	    where le_accountrules.leasescompanyid = #{leasesCompanyId}
	      and le_accountrules.rulesrefid = #{id}
	      and le_accountrules.type = 1
	      and le_accountrules.status = 1
	      and EXISTS (
	      
	      select t3.*
	      from
	      (select le_accountrules.city,le_accountrules.rulestype,le_accountrules.cartype
	      from le_accountrules,
	      ( select le_company_rules_ref.id,le_company_rules_ref.leasescompanyid
	        from le_company_rules_ref
	        where le_company_rules_ref.leasescompanyid = #{leasesCompanyId}
	          and le_company_rules_ref.status = 1
	          and le_company_rules_ref.organid = #{organId}
	          and le_company_rules_ref.rulestate = 1
	          and NOT EXISTS (
	              select t1.id
	              from le_company_rules_ref t1
	              where t1.leasescompanyid = #{leasesCompanyId}
	                and t1.status = 1
	                and t1.organid = #{organId}
	                and t1.rulestate = 1
	                and (t1.starttime <![CDATA[ > ]]> #{endTime} or t1.endtime <![CDATA[ < ]]> #{startTime})
	                and le_company_rules_ref.id = t1.id
	          )
	      ) t2
	      where le_accountrules.rulesrefid = t2.id
	        and le_accountrules.leasescompanyid = t2.leasescompanyid
	        and le_accountrules.type = 1
	        and le_accountrules.status = 1
	      ) t3  
	      where le_accountrules.city = t3.city
	        and le_accountrules.rulestype = t3.rulestype
	        and le_accountrules.cartype = t3.cartype
	      
	      )
	</select>
	
	<select id="getAccountStatusByLeasesCompanyId" resultType="hashmap" parameterType="string">
	    select wechatstatus,alipaystatus,driverwechatstatus,driveralipaystatus
	    from le_leasescompany
	    where id = #{leasesCompanyId}
	      and status = 1
	      and platformtype = 1
	</select>

</mapper>