<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 引入接口，只要实现接口的方法就会调用对应接口方法的 select id -->
<mapper namespace="com.szyciov.lease.mapper.OrganUserAccountMapper">
<!-- parameterType传入参数类型     resultMap=自己定义的一个返回类型     resultType返回类型 -->
	<select id="getOrganUserAccountInfoListByQuery" resultType="OrganUserAccountInfo" parameterType="OrganUserAccountQueryParam">
	    select t.* from
	    (select (@rownum := @rownum + 1) as rownum,t1.* from
	    (
	    select org_user.id as id,
	        org_user.account as account,
	        IFNULL(org_user.nickname,'/') as nickName,
	        (case org_user.sex when '0' then '男' when '1' then '女' when '男' then '男' when '女' then '女' else '/' end) as sex,
	        IFNULL(org_useraccount.balance,0) as balance,
	        (case org_user.status when '1' then IFNULL(b3.shortname,'/') else '/' end)as shortName,
	        (select count(*) from pub_coupon where lecompanyid=#{leasesCompanyId} and platformtype=1 and target=2 and userid=org_user.id and couponstatus=0 and status=1) as validCoupon,
	        (select COUNT(org_userexpenses.id) from org_userexpenses where org_userexpenses.leasescompanyid = #{leasesCompanyId} and org_userexpenses.userid = org_user.id and org_userexpenses.detailtype='0') as balanceCount,
	        (select COUNT(org_userexpenses.id) from org_userexpenses where org_userexpenses.leasescompanyid = #{leasesCompanyId} and org_userexpenses.userid = org_user.id and (org_userexpenses.detailtype='0' or org_userexpenses.detailtype='1')) as dealCount,
	        (select count(*) from pub_coupon where lecompanyid=#{leasesCompanyId} and platformtype=1 and target=2 and userid=org_user.id and status=1) as couponCount
	    from org_user inner join
	    (
	    select org_user.id,org_user.account
	    from org_user inner join (
	                       select org_organ.id,t2.shortname
	                       from org_organ,(
	        <choose>
	          <!-- 普通 -->
              <when test="specialState != '1'.toString()">
                    select org_organ.creditcode,org_organ.shortname
                    from org_organ,
                    (
                       SELECT
			                 le_roledataauthority.dynamicid as organid
		               FROM
			                 le_roledataauthority,
			                 le_roleuser,
			                 le_user
		               WHERE
		                     le_roledataauthority.status=1
		                 and le_roleuser.status=1
		                 and le_user.status=1
		                 and le_user.id = le_roleuser.userid
		                 and le_roleuser.roleid = le_roledataauthority.roleid
		                 and le_user.account=#{account}
		                 and le_user.leasescompanyid = #{leasesCompanyId}
		            ) t4
                    where org_organ.status = 1
                      and org_organ.id = t4.organid
              </when>
              <otherwise>
     	      <!-- 超管 -->
     	           select org_organ.creditcode,org_organ.shortname
	               from org_organ_company_ref,org_organ
	               where org_organ_company_ref.companyid = #{leasesCompanyId}
	                 and org_organ_company_ref.status = 1
	                 and org_organ.status = 1
	                 and org_organ_company_ref.organid = org_organ.id 
              </otherwise>
            </choose>                 
	                       ) t2
	                       where org_organ.status = 1
	                         and org_organ.creditcode = t2.creditcode
	                  ) t3 on (org_user.organid = t3.id)
                      
	    where org_user.status = 1
	      and org_user.usertype = 0
	    <if test="organId != null and organId != ''">
	        and org_user.organid IN (
	            select
					organ.id
				from
					org_organ organ
				where organ.status = 1
				  and organ.creditcode = (
					select
						org_organ.creditcode
					from
						org_organ
					where org_organ.status = 1
					  and org_organ.id = #{organId}
				  )
	        )
	    </if>
	    <if test="organId == null or organId == ''">
	    UNION
	    select org_user.id,org_user.account
	    from org_user,
	    (select t6.account,t6.id,t6.createtime from 
	                 (select org_user.account,org_user.id,org_useraccount.createtime
                        from org_user,org_useraccount
                       where org_user.id = org_useraccount.userid
                         and org_useraccount.leasescompanyid = #{leasesCompanyId}
                         and org_useraccount.status = 1
                         order by org_useraccount.createtime desc) t6
              group by t6.account) t7,
	    (select org_user.account,t3.shortname
	    from org_user inner join (
	                       select org_organ.id,t2.shortname
	                       from org_organ,(
	        <choose>
	          <!-- 普通 -->
              <when test="specialState != '1'.toString()">
                    select org_organ.creditcode,org_organ.shortname
                    from org_organ,
                    (
                       SELECT
			                 le_roledataauthority.dynamicid as organid
		               FROM
			                 le_roledataauthority,
			                 le_roleuser,
			                 le_user
		               WHERE
		                     le_roledataauthority.status=1
		                 and le_roleuser.status=1
		                 and le_user.status=1
		                 and le_user.id = le_roleuser.userid
		                 and le_roleuser.roleid = le_roledataauthority.roleid
		                 and le_user.account=#{account}
		                 and le_user.leasescompanyid = #{leasesCompanyId}
		            ) t4
                    where org_organ.status = 1
                      and org_organ.id = t4.organid
              </when>
              <otherwise>
     	      <!-- 超管 -->
     	           select org_organ.creditcode,org_organ.shortname
	               from org_organ_company_ref,org_organ
	               where org_organ_company_ref.companyid = #{leasesCompanyId}
	                 and org_organ_company_ref.status = 1
	                 and org_organ.status = 1
	                 and org_organ_company_ref.organid = org_organ.id 
              </otherwise>
            </choose>                 
	                       ) t2
	                       where org_organ.status = 1
	                         and org_organ.creditcode = t2.creditcode
	                  ) t3 on (org_user.organid = t3.id)              
	    where org_user.status != 1
	      and org_user.usertype = 0
	    ) t5
	    where org_user.usertype = 0
	      and t7.account = t5.account
	      and org_user.id = t7.id
	    </if>
	    ) b1
	    on (org_user.id = b1.id)
	    left join (
	                       select org_organ.id,b2.shortname
	                       from org_organ,(
	                                       select org_organ.creditcode,org_organ.shortname
	                                         from org_organ_company_ref,org_organ
	                                        where org_organ_company_ref.companyid = #{leasesCompanyId}
	                                          and org_organ_company_ref.status = 1
	                                          and org_organ.status = 1
	                                          and org_organ_company_ref.organid = org_organ.id 
	                       ) b2
	                       where org_organ.status = 1
	                         and org_organ.creditcode = b2.creditcode
	                  ) b3 on (org_user.organid = b3.id)
	    left join org_useraccount on (org_user.id = org_useraccount.userid and org_useraccount.leasescompanyid = #{leasesCompanyId} and org_useraccount.status = 1)
	    where org_user.usertype = 0
	    <if test="userId != null and userId != ''">
	        and org_user.id = #{userId}
	    </if> 
	    order by balance desc) t1, (select @rownum := 0) r ) t
	    <![CDATA[
	    where t.rownum > #{iDisplayStart} and t.rownum <=  (#{iDisplayStart} +  #{iDisplayLength})
	    ]]>
	</select>
	
	<select id="getOrganUserAccountInfoListCountByQuery" resultType="int" parameterType="OrganUserAccountQueryParam">
	    select count(*)
	    from org_user inner join
	    (
	    select org_user.id,org_user.account
	    from org_user inner join (
	                       select org_organ.id,t2.shortname
	                       from org_organ,(
	        <choose>
	          <!-- 普通 -->
              <when test="specialState != '1'.toString()">
                    select org_organ.creditcode,org_organ.shortname
                    from org_organ,
                    (
                       SELECT
			                 le_roledataauthority.dynamicid as organid
		               FROM
			                 le_roledataauthority,
			                 le_roleuser,
			                 le_user
		               WHERE
		                     le_roledataauthority.status=1
		                 and le_roleuser.status=1
		                 and le_user.status=1
		                 and le_user.id = le_roleuser.userid
		                 and le_roleuser.roleid = le_roledataauthority.roleid
		                 and le_user.account=#{account}
		                 and le_user.leasescompanyid = #{leasesCompanyId}
		            ) t4
                    where org_organ.status = 1
                      and org_organ.id = t4.organid
              </when>
              <otherwise>
     	      <!-- 超管 -->
     	           select org_organ.creditcode,org_organ.shortname
	               from org_organ_company_ref,org_organ
	               where org_organ_company_ref.companyid = #{leasesCompanyId}
	                 and org_organ_company_ref.status = 1
	                 and org_organ.status = 1
	                 and org_organ_company_ref.organid = org_organ.id 
              </otherwise>
            </choose>                 
	                       ) t2
	                       where org_organ.status = 1
	                         and org_organ.creditcode = t2.creditcode
	                  ) t3 on (org_user.organid = t3.id)
                      
	    where org_user.status = 1
	      and org_user.usertype = 0
	    <if test="organId != null and organId != ''">
	        and org_user.organid IN (
	            select
					organ.id
				from
					org_organ organ
				where organ.status = 1
				  and organ.creditcode = (
					select
						org_organ.creditcode
					from
						org_organ
					where org_organ.status = 1
					  and org_organ.id = #{organId}
				  )
	        )
	    </if>
	    <if test="organId == null or organId == ''">
	    UNION
	    select org_user.id,org_user.account
	    from org_user,
	    (select t6.account,t6.id,t6.createtime from 
	                 (select org_user.account,org_user.id,org_useraccount.createtime
                        from org_user,org_useraccount
                       where org_user.id = org_useraccount.userid
                         and org_useraccount.leasescompanyid = #{leasesCompanyId}
                         and org_useraccount.status = 1
                         order by org_useraccount.createtime desc) t6
              group by t6.account) t7,
	    (select org_user.account,t3.shortname
	    from org_user inner join (
	                       select org_organ.id,t2.shortname
	                       from org_organ,(
	        <choose>
	          <!-- 普通 -->
              <when test="specialState != '1'.toString()">
                    select org_organ.creditcode,org_organ.shortname
                    from org_organ,
                    (
                       SELECT
			                 le_roledataauthority.dynamicid as organid
		               FROM
			                 le_roledataauthority,
			                 le_roleuser,
			                 le_user
		               WHERE
		                     le_roledataauthority.status=1
		                 and le_roleuser.status=1
		                 and le_user.status=1
		                 and le_user.id = le_roleuser.userid
		                 and le_roleuser.roleid = le_roledataauthority.roleid
		                 and le_user.account=#{account}
		                 and le_user.leasescompanyid = #{leasesCompanyId}
		            ) t4
                    where org_organ.status = 1
                      and org_organ.id = t4.organid
              </when>
              <otherwise>
     	      <!-- 超管 -->
     	           select org_organ.creditcode,org_organ.shortname
	               from org_organ_company_ref,org_organ
	               where org_organ_company_ref.companyid = #{leasesCompanyId}
	                 and org_organ_company_ref.status = 1
	                 and org_organ.status = 1
	                 and org_organ_company_ref.organid = org_organ.id 
              </otherwise>
            </choose>                 
	                       ) t2
	                       where org_organ.status = 1
	                         and org_organ.creditcode = t2.creditcode
	                  ) t3 on (org_user.organid = t3.id)              
	    where org_user.status != 1
	      and org_user.usertype = 0
	    ) t5
	    where org_user.usertype = 0
	      and t7.account = t5.account
	      and org_user.id = t7.id
	    </if>
	    ) b1
	    on (org_user.id = b1.id)
	    where org_user.usertype = 0
	    <if test="userId != null and userId != ''">
	        and org_user.id = #{userId}
	    </if> 
	</select>

	<select id="getUserExpensesListByQuery" resultType="OrgUserExpenses" parameterType="OrganUserAccountQueryParam">
	    select t.* from
	    (select (@rownum := @rownum + 1) as rownum,t1.* from
	    (select org_userexpenses.expensetime as expenseTime,
	       (case org_userexpenses.tradetype when '0' then '充值' when '1' then '订单支付' when '2' then '系统退款' when '3' then '提现' end) as tradeType,
	       (case org_userexpenses.expensetype when '1' then '微信支付' when '2' then '支付宝支付' when '3' then '账户余额' when '4' then '余额支付' when '5' then '付现' else '/' end) as expenseType,
	       CONCAT((case org_userexpenses.tradetype when '0' then '+' when '1' then '-' when '2' then '+' when '3' then (case org_userexpenses.operateresult when '0' then '-' when '1' then '+' end) end),org_userexpenses.amount) as amount,
	       IFNULL(org_userexpenses.balance,0) as balance,
	       IFNULL(org_userexpenses.remark,'无') as remark
	    from org_userexpenses
	    where org_userexpenses.leasescompanyid = #{leasesCompanyId}
	      and org_userexpenses.userid = #{userId}
	    <if test="expenseType != null and expenseType != ''">
	        and org_userexpenses.tradetype = #{expenseType}
	    </if>  
	    <if test="startTime != null and startTime != ''">
	        and org_userexpenses.expensetime <![CDATA[ >= ]]> STR_TO_DATE(#{startTime},'%Y-%m-%d %H:%i:%s')
	    </if>
	    <if test="endTime != null and endTime != ''">
	        and org_userexpenses.expensetime <![CDATA[ < ]]> STR_TO_DATE(ADDDATE(#{endTime},1),'%Y-%m-%d %H:%i:%s')
	    </if>
	    <if test="detailType != null and detailType != ''">
	        and org_userexpenses.detailtype = #{detailType}
	    </if>
	    order by org_userexpenses.expensetime desc) t1, (select @rownum := 0) r ) t
	    <![CDATA[
	    where t.rownum > #{iDisplayStart} and t.rownum <=  (#{iDisplayStart} +  #{iDisplayLength})
	    ]]>
	</select>
	
	<select id="getUserExpensesListCountByQuery" resultType="int" parameterType="OrganUserAccountQueryParam">
	    select count(*)
	    from org_userexpenses
	    where org_userexpenses.leasescompanyid = #{leasesCompanyId}
	      and org_userexpenses.userid = #{userId}
	    <if test="expenseType != null and expenseType != ''">
	        and org_userexpenses.tradetype = #{expenseType}
	    </if>  
	    <if test="startTime != null and startTime != ''">
	        and org_userexpenses.expensetime <![CDATA[ >= ]]> STR_TO_DATE(#{startTime},'%Y-%m-%d %H:%i:%s')
	    </if>
	    <if test="endTime != null and endTime != ''">
	        and org_userexpenses.expensetime <![CDATA[ < ]]> STR_TO_DATE(ADDDATE(#{endTime},1),'%Y-%m-%d %H:%i:%s')
	    </if>
	    <if test="detailType != null and detailType != ''">
	        and org_userexpenses.detailtype = #{detailType}
	    </if>
	</select>
	
	<select id="getExistUserList" resultType="hashmap" parameterType="hashmap">  
	    select org_user.id as id,org_user.account as text
	    from org_user,
	         (select org_organ.id
	            from org_organ,
	                 (         
	        <choose>
	          <!-- 普通 -->
              <when test="specialState != '1'.toString()">
                    select org_organ.creditcode,org_organ.shortname
                    from org_organ,
                    (
                       SELECT
			                 le_roledataauthority.dynamicid as organid
		               FROM
			                 le_roledataauthority,
			                 le_roleuser,
			                 le_user
		               WHERE
		                     le_roledataauthority.status=1
		                 and le_roleuser.status=1
		                 and le_user.status=1
		                 and le_user.id = le_roleuser.userid
		                 and le_roleuser.roleid = le_roledataauthority.roleid
		                 and le_user.account=#{account}
		                 and le_user.leasescompanyid = #{leasesCompanyId}
		            ) t3
                    where org_organ.status = 1
                      and org_organ.id = t3.organid
              </when>
              <otherwise>
     	      <!-- 超管 -->
     	           select org_organ.creditcode,org_organ.shortname
	               from org_organ_company_ref,org_organ
	               where org_organ_company_ref.companyid = #{leasesCompanyId}
	                 and org_organ_company_ref.status = 1
	                 and org_organ.status = 1
	                 and org_organ_company_ref.organid = org_organ.id 
              </otherwise>
            </choose>
	                 ) t1
	           where org_organ.status = 1
	           and org_organ.creditcode = t1.creditcode) t2
	    where org_user.status = 1
	      and org_user.usertype = 0
	      and org_user.organid = t2.id
	    <if test="nameAccount != null and nameAccount != ''">
	      and org_user.account like "%"#{nameAccount}"%"
	    </if>
	    UNION
	    select org_user.id as id,org_user.account as text
	    from org_user,
	    (select t5.account,t5.id,t5.createtime from 
	                 (select org_user.account,org_user.id,org_useraccount.createtime
                        from org_user,org_useraccount
                       where org_user.id = org_useraccount.userid
                         and org_useraccount.leasescompanyid = #{leasesCompanyId}
                         and org_useraccount.status = 1
                         order by org_useraccount.createtime desc) t5
              group by t5.account) t6,
	    (select org_user.account
	    from org_user,
	         (select org_organ.id
	            from org_organ,
	                 (         
	        <choose>
	          <!-- 普通 -->
              <when test="specialState != '1'.toString()">
                    select org_organ.creditcode,org_organ.shortname
                    from org_organ,
                    (
                       SELECT
			                 le_roledataauthority.dynamicid as organid
		               FROM
			                 le_roledataauthority,
			                 le_roleuser,
			                 le_user
		               WHERE
		                     le_roledataauthority.status=1
		                 and le_roleuser.status=1
		                 and le_user.status=1
		                 and le_user.id = le_roleuser.userid
		                 and le_roleuser.roleid = le_roledataauthority.roleid
		                 and le_user.account=#{account}
		                 and le_user.leasescompanyid = #{leasesCompanyId}
		            ) t3
                    where org_organ.status = 1
                      and org_organ.id = t3.organid
              </when>
              <otherwise>
     	      <!-- 超管 -->
     	           select org_organ.creditcode,org_organ.shortname
	               from org_organ_company_ref,org_organ
	               where org_organ_company_ref.companyid = #{leasesCompanyId}
	                 and org_organ_company_ref.status = 1
	                 and org_organ.status = 1
	                 and org_organ_company_ref.organid = org_organ.id 
              </otherwise>
            </choose>
	                 ) t1
	           where org_organ.status = 1
	           and org_organ.creditcode = t1.creditcode) t2
	    where org_user.status != 1
	      and org_user.usertype = 0
	      and org_user.organid = t2.id
	    ) t4  
	    where org_user.usertype = 0
	      and t6.account = t4.account
	      and org_user.id = t6.id
	    <if test="nameAccount != null and nameAccount != ''">
	      and org_user.account like "%"#{nameAccount}"%"
	    </if>  
	</select>
	
	<select id="getExistOrganList" resultType="hashmap" parameterType="hashmap">
	    <choose>
	          <!-- 普通 -->
              <when test="specialState != '1'.toString()">
              select org_organ.id as id,org_organ.shortname as text
              from org_organ
              where org_organ.status=1
                and org_organ.id IN ( 
              SELECT
			        le_roledataauthority.dynamicid as organid
		      FROM
			        le_roledataauthority,
			        le_roleuser,
			        le_user
		      WHERE
		            le_roledataauthority.status=1
		            and le_roleuser.status=1
		            and le_user.status=1
		            and le_user.id = le_roleuser.userid
		            and le_roleuser.roleid = le_roledataauthority.roleid
		            and le_user.account=#{account}
		            and le_user.leasescompanyid = #{leasesCompanyId}
		        )
		        <if test="shortName != null and shortName != ''">
	                and org_organ.shortname like "%"#{shortName}"%"
	            </if>
	                group by org_organ.id
              </when>
              <otherwise>
     	      <!-- 超管 -->
		      SELECT
			        org_organ.id as id,org_organ.shortname as text
		      FROM
			        org_organ,
			        org_organ_company_ref
		      WHERE
		            org_organ.status=1
		            and org_organ_company_ref.status=1
		            and org_organ_company_ref.organid = org_organ.id
		            and org_organ_company_ref.companyid = #{leasesCompanyId}
		      <if test="shortName != null and shortName != ''">
	                and org_organ.shortname like "%"#{shortName}"%"
	          </if>
	                group by org_organ.id
              </otherwise>
        </choose>
	</select>
	
	<select id="getUserExpensesListExport" resultType="OrgUserExpenses" parameterType="OrganUserAccountQueryParam">
	    select org_userexpenses.expensetime as expenseTime,
	       (case org_userexpenses.tradetype when '0' then '充值' when '1' then '订单支付' when '2' then '系统退款' when '3' then '提现' end) as tradeType,
	       (case org_userexpenses.expensetype when '1' then '微信支付' when '2' then '支付宝支付' when '3' then '账户余额' when '4' then '余额支付' when '5' then '付现' else '/' end) as expenseType,
	       CONCAT((case org_userexpenses.tradetype when '0' then '+' when '1' then '-' when '2' then '+' when '3' then (case org_userexpenses.operateresult when '0' then '-' when '1' then '+' end) end),org_userexpenses.amount) as amount,
	       IFNULL(org_userexpenses.balance,0) as balance,
	       IFNULL(org_userexpenses.remark,'无') as remark
	    from org_userexpenses
	    where org_userexpenses.leasescompanyid = #{leasesCompanyId}
	      and org_userexpenses.userid = #{userId}
	    <if test="expenseType != null and expenseType != ''">
	        and org_userexpenses.tradetype = #{expenseType}
	    </if>  
	    <if test="startTime != null and startTime != ''">
	        and org_userexpenses.expensetime <![CDATA[ >= ]]> STR_TO_DATE(#{startTime},'%Y-%m-%d %H:%i:%s')
	    </if>
	    <if test="endTime != null and endTime != ''">
	        and org_userexpenses.expensetime <![CDATA[ < ]]> STR_TO_DATE(ADDDATE(#{endTime},1),'%Y-%m-%d %H:%i:%s')
	    </if>
	    <if test="detailType != null and detailType != ''">
	        and org_userexpenses.detailtype = #{detailType}
	    </if>
	    order by org_userexpenses.expensetime desc
	</select>

    <select id="getOrganUserCouponInfoList" resultType ="OrganUserCouponInfo" parameterType="OrganUserCouponQueryParam">
       select t.* from
	    (select (@rownum := @rownum + 1) as rownum,t1.* from
        (select 
               pc.couponactivyidref as id,
               pc.name,
               pc.couponstatus,
               DATE_FORMAT(pc.createtime,'%Y-%m-%d %H:%i') as sendtime,
		       pc.money as amount,
		       DATE_FORMAT(pc.outimestart,'%Y.%m.%d') as usestarttime,
		       DATE_FORMAT(pc.outtimeend,'%Y.%m.%d') useendtime,
			   GROUP_CONCAT(city.city SEPARATOR ',') as usecity
		from pub_coupon pc
		left join pub_coupon_activity_use_city pcauc on pc.couponactivyidref=pcauc.couponactivityidref 
		left join pub_cityaddr city on city.id=pcauc.city
		where pc.lecompanyid=#{lecompanyid} and pc.platformtype=1
		  and pc.target=2 and pc.userid=#{userid}
		  <if test="couponstatus != null">
		   and pc.couponstatus=#{couponstatus}
		  </if>
		  <if test="starttime != null and starttime !=''">
		   and pc.createtime <![CDATA[ >= ]]> STR_TO_DATE(#{starttime},'%Y-%m-%d %H:%i:%s')
		  </if>
		  <if test="endtime != null and endtime !=''">
		   and pc.createtime <![CDATA[ < ]]> STR_TO_DATE(ADDDATE(#{endtime},1),'%Y-%m-%d %H:%i:%s')
		  </if>
		  group by pc.id) t1, (select @rownum := 0) r ) t
	    <![CDATA[
	    where t.rownum > #{iDisplayStart} and t.rownum <=  (#{iDisplayStart} +  #{iDisplayLength})
	    ]]>
    </select>
    
    <select id="getOrganUserCouponInfoListCount" parameterType="OrganUserCouponInfo" resultType="Integer">
        select count(*)
		from pub_coupon pc
		<!-- left join pub_coupon_activity_use_city pcauc on pc.couponactivyidref=pcauc.couponactivityidref 
		left join pub_cityaddr city on city.id=pcauc.city -->
		where pc.lecompanyid=#{lecompanyid} and pc.platformtype=1
		  and pc.target=2 and pc.userid=#{userid} 
		  <if test="couponstatus != null">
		   and pc.couponstatus=#{couponstatus}
		  </if>
		  <if test="starttime != null and starttime !=''">
		   and pc.createtime <![CDATA[ >= ]]> STR_TO_DATE(#{starttime},'%Y-%m-%d %H:%i:%s')
		  </if>
		  <if test="endtime != null and endtime !=''">
		   and pc.createtime <![CDATA[ < ]]> STR_TO_DATE(ADDDATE(#{endtime},1),'%Y-%m-%d %H:%i:%s')
		  </if>
    </select>
    
      <select id="exportCouponData" resultType ="OrganUserCouponInfo" parameterType="OrganUserCouponQueryParam">
         select 
               pc.couponactivyidref as id,
               pc.name,
               pc.couponstatus,
               DATE_FORMAT(pc.createtime,'%Y-%m-%d %H:%i') as sendtime,
		       pc.money as amount,
		       DATE_FORMAT(pc.outimestart,'%Y.%m.%d') as usestarttime,
		       DATE_FORMAT(pc.outtimeend,'%Y.%m.%d') useendtime,
			   GROUP_CONCAT(city.city SEPARATOR ',') as usecity
		from pub_coupon pc
		left join pub_coupon_activity_use_city pcauc on pc.couponactivyidref=pcauc.couponactivityidref 
		left join pub_cityaddr city on city.id=pcauc.city
		where pc.lecompanyid=#{lecompanyid} and pc.platformtype=1
		  and pc.target=2 and pc.userid=#{userid}
		  <if test="couponstatus != null">
		   and pc.couponstatus=#{couponstatus}
		  </if>
		  <if test="starttime != null and starttime !=''">
		   and pc.createtime <![CDATA[ >= ]]> STR_TO_DATE(#{starttime},'%Y-%m-%d %H:%i:%s')
		  </if>
		  <if test="endtime != null and endtime !=''">
		   and pc.createtime <![CDATA[ < ]]> STR_TO_DATE(ADDDATE(#{endtime},1),'%Y-%m-%d %H:%i:%s')
		  </if>
		  group by pc.id
    </select>
    
    <select id="getBusinessCitys" resultType="string" parameterType="string">
            select GROUP_CONCAT(city SEPARATOR ',') from pub_cityaddr where id in 
          (select distinct ps.city from pub_sendrules ps,le_accountrules oa
             where ps.city=oa.city 
               and ps.leasescompanyid=#{lecompanyid}
               and oa.leasescompanyid=#{lecompanyid}
               and ps.vehicletype=0
               and ps.platformtype=1
               and ps.rulesstate='0'
               and oa.rulesstate='0'
               and ps.status=1 
               and oa.status=1 )
    </select>
    
    <select id="getActivitysInBusinessCity" parameterType="java.util.List" resultType="string">
          select id from pub_coupon_activity where id in (
           <foreach collection="list" item="item" separator=",">
               #{item.id}
           </foreach>
          ) and usetype=2
    </select>
</mapper>