<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 引入接口，只要实现接口的方法就会调用对应接口方法的 select id -->
<mapper namespace="com.szyciov.lease.mapper.OrgOrganCompanyRefMapper">
<!-- parameterType传入参数类型     resultMap=自己定义的一个返回类型     resultType返回类型 -->
	<insert id="createOrgOrganCompanyRef" parameterType="OrgOrganCompanyRef"><!-- accountstatus,carservice,pickupservice,dropoffservice -->
		insert into org_organ_company_ref(id,organid,companyid,userid,mainaccount,parentid,balance,actualbalance,lineofcredit,bindstate,CreateTime,UpdateTime,Status,firsttime)
			values (#{id},#{organId},#{companyId},#{userId},'1',#{parentId},#{balance},#{actualBalance},#{lineOfCredit},'0',now(),now(),1,#{firstTime})
	</insert>
	<update id="reassignProducts" parameterType="OrgOrganCompanyRef">
		UPDATE org_organ_company_ref set carservice=#{carService},pickupservice=#{pickUpService},dropoffservice=#{dropOffService},UpdateTime=now() WHERE org_organ_company_ref.organid=#{id}
	</update>
</mapper>