<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 引入接口，只要实现接口的方法就会调用对应接口方法的 select id -->
<mapper namespace="com.szyciov.lease.mapper.PubCoooperateMapper">
    <!-- parameterType传入参数类型     resultMap=自己定义的一个返回类型     resultType返回类型 -->
    <!-- 联盟资源 首页分页查询返回list -->
    <select id="getPubCoooperateList" resultType="PubCoooperate" parameterType="QueryParam">
        SELECT
        t1.*, t2.`name` AS companyName,
        (SELECT count(*) FROM pub_cooresource t3 WHERE t1.id = t3.coooperateid AND t3.`status` = 1) AS allCount,
				 IF(t1.servicetype = 0,
				(SELECT COUNT(*) FROM pub_vehicle_models_ref t4 WHERE t1.companyid = t4.companyid AND t1.leasecompanyid = t4.leasecompanyid AND t4.`status`= 1),
				(SELECT COUNT(*) FROM pub_vehicle t5 
				LEFT JOIN pub_driver_vehicle_ref t6 ON t5.id = t6.vehicleid AND t6.`status` = 1
				LEFT JOIN pub_driver t7 ON t6.driverid = t7.id AND t7.vehicletype = 1 AND t7.platformtype = 1 AND t7.`Status` = 1
				LEFT JOIN pub_cooresource t8 ON t5.id = t8.vehicleid AND t8.`status` = 1
				WHERE 1= 1
				AND t1.id = t8.coooperateid
				AND t7.id = t5.driverid
				AND t7.passworkstatus IN ('0', '1', '3')
				)) AS availableCount
        FROM
        pub_coooperate t1
        LEFT JOIN le_leasescompany t2 ON (t1.leasecompanyid = t2.id AND t2.`Status`=1)
        WHERE 1 = 1
        AND t1.`status` = 1
        AND t1.platformtype = 1
        AND t1.coostate = 1
        AND t1.companyid = #{key}
        <if test="queryCoono != null and queryCoono != '' ">
            AND t1.coono like "%"#{queryCoono}"%"
        </if>
        <if test="queryCompanyname != null and queryCompanyname != '' ">
            AND t1.leasecompanyid = #{queryCompanyname}
        </if>
        <if test="queryServicetype != null and queryServicetype != '' ">
            AND t1.servicetype = #{queryServicetype}
        </if>
        ORDER BY t1.updatetime DESC
        LIMIT #{iDisplayStart},#{iDisplayLength}
    </select>
    <!-- 联盟资源 查询返回数据数 -->
    <select id="getPubCoooperateListCount" resultType="int" parameterType="QueryParam">
        SELECT
        count(*)
        FROM
        pub_coooperate t1
        LEFT JOIN le_leasescompany t2 ON (t1.leasecompanyid = t2.id AND t2.`Status`=1)
        WHERE 1 = 1
        AND t1.`status` = 1
        AND t1.platformtype = 1
        AND t1.coostate = 1
        AND t1.companyid = #{key}
        <if test="queryCoono != null and queryCoono != '' ">
            AND t1.coono like "%"#{queryCoono}"%"
        </if>
        <if test="queryCompanyname != null and queryCompanyname != '' ">
            AND t1.leasecompanyid = #{queryCompanyname}
        </if>
        <if test="queryServicetype != null and queryServicetype != '' ">
            AND t1.servicetype = #{queryServicetype}
        </if>
        ORDER BY t1.updatetime DESC
        LIMIT #{iDisplayStart},#{iDisplayLength}
    </select>
    <!-- 联盟资源  加载战略伙伴 -->
    <select id="getCompanyNameList" parameterType="String" resultType="PubCoooperate">
        SELECT
        t1.*, t2.`name` AS companyName
        FROM
        pub_coooperate t1
        LEFT JOIN le_leasescompany t2 ON (t1.leasecompanyid = t2.id AND t2.`Status`=1)
        WHERE 1 = 1
        AND t1.`status` = 1
        AND t1.platformtype = 1
        AND t1.coostate = 1
        AND t1.companyid = #{id}
        GROUP BY t2.`name`
        ORDER BY t1.updatetime DESC
    </select>
    <!-- 查询资源信息 -->
    <select id="getResourceInformationList" parameterType="QueryParam" resultType="PubCoooperate">
        SELECT
		t2.fullplateno AS plateno	,
		IF(CONCAT(t4.`name`, " ", t4.phone) IS NULL,"/",CONCAT(t4.`name`, " ", t4.phone)) AS driverInformation,
		IF(t4.jobnum IS NULL,"/",t4.jobnum) AS jobnum 
		FROM pub_coooperate t 
		LEFT JOIN pub_cooresource t1 ON t.id = t1.coooperateid AND t1.`status` = 1
		LEFT JOIN pub_vehicle t2 ON t1.vehicleid = t2.id AND t2.vehicletype = 1 AND t2.platformtype = 1 AND t2.`Status` = 1
		LEFT JOIN pub_driver_vehicle_ref t3 ON t2.id = t3.vehicleid  AND t3.`status` = 1 
		LEFT JOIN pub_driver t4 ON t3.driverid = t4.id AND t4.vehicletype = 1 AND t4.`Status` = 1 AND t4.platformtype = 1
		WHERE 1 = 1
		AND t.servicetype = 1
		AND t.platformtype = 1
		AND t.`status` = 1
		AND ((t2.boundstate = 0) OR (t2.boundstate = 1 AND t4.passworkstatus in ('0','1','3') AND t4.id = t2.driverid ))
		AND t.id = #{key}
        <if test="queryPlateno != null and queryPlateno != '' ">
            AND t2.fullplateno like "%"#{queryPlateno}"%"
        </if>
        <if test="queryJobnum != null and queryJobnum != '' ">
            AND t4.jobnum like "%"#{queryJobnum}"%"
        </if>
        <if test="queryDriverInformation != null and queryDriverInformation != '' ">
            AND (t4.`name` like "%"#{queryDriverInformation}"%" OR t4.phone like "%"#{queryDriverInformation}"%")
        </if>
        ORDER BY if(isnull(jobnum),0,1)
        LIMIT #{iDisplayStart},#{iDisplayLength}
    </select>
    <select id="getResourceInformationListCount" parameterType="QueryParam" resultType="int">
      	SELECT
		COUNT(*)
		FROM pub_coooperate t 
		LEFT JOIN pub_cooresource t1 ON t.id = t1.coooperateid AND t1.`status` = 1
		LEFT JOIN pub_vehicle t2 ON t1.vehicleid = t2.id AND t2.vehicletype = 1 AND t2.platformtype = 1 AND t2.`Status` = 1
		LEFT JOIN pub_driver_vehicle_ref t3 ON t2.id = t3.vehicleid  AND t3.`status` = 1 
		LEFT JOIN pub_driver t4 ON t3.driverid = t4.id AND t4.vehicletype = 1 AND t4.`Status` = 1 AND t4.platformtype = 1
		WHERE 1 = 1
		AND t.servicetype = 1
		AND t.platformtype = 1
		AND t.`status` = 1
		AND ((t2.boundstate = 0) OR (t2.boundstate = 1 AND t4.passworkstatus in ('0','1','3') AND t4.id = t2.driverid ))
		AND t.id = #{key}
        <if test="queryPlateno != null and queryPlateno != '' ">
            AND t2.fullplateno like "%"#{queryPlateno}"%"
        </if>
        <if test="queryJobnum != null and queryJobnum != '' ">
            AND t4.jobnum like "%"#{queryJobnum}"%"
        </if>
        <if test="queryDriverInformation != null and queryDriverInformation != '' ">
            AND (t4.`name` like "%"#{queryDriverInformation}"%" OR t4.phone like "%"#{queryDriverInformation}"%")
        </if>
    </select>
    <!-- 查询联盟资源 返回 list 有多少条数据 -->
    <select id="getDriverInformationList" resultType="DriverInformationDto" parameterType="QueryParam">
        SELECT
		t2.id,
		t.id as vehicleid,
		t2.leasecompanyid,
		CONCAT(t6.`name`," ",t.fullplateno) AS vehicleInfo,
		CONCAT(t4.`name`," ",t4.phone) AS `name`,
		t4.jobnum,
		CONCAT(t8.`name`," ",t.fullplateno) AS distributionVel,
		t7.updatetime AS distributionVelTime
		FROM
			pub_vehicle t
			LEFT JOIN pub_cooresource t1 ON t.id = t1.vehicleid AND t1.`status` = 1
			LEFT JOIN pub_coooperate t2 ON t1.coooperateid = t2.id AND t2.servicetype = 0 AND t2.`Status` = 1 AND t2.platformtype = 1
			LEFT JOIN pub_driver_vehicle_ref t3 ON t.id = t3.vehicleid AND t3.`status` = 1
			LEFT JOIN pub_driver t4 ON t3.driverid = t4.id AND t4.platformtype = 1 AND t4.vehicletype = 0
			LEFT JOIN le_vehcline_models_ref t5 ON t.vehclineid = t5.vehclineid AND t5.`status` = 1
			LEFT JOIN le_vehiclemodels t6 ON t5.vehiclemodelsid = t6.Id AND t6.`Status` = 1 AND t6.modelstatus = 0
			LEFT JOIN pub_vehicle_models_ref t7 ON t2.companyid = t7.companyid AND t2.leasecompanyid = t7.leasecompanyid AND t1.vehicleid = t7.vehicleid AND t7.`status` = 1
			LEFT JOIN le_vehiclemodels t8 ON t7.vehiclemodelsid = t8.Id AND t8.`Status` = 1
		WHERE
			1 = 1
		AND t2.id = #{key}
		AND t.`status` = 1
		AND t.vehicletype = 0
        <if test="queryPlateno != null and queryPlateno != '' ">
            AND CONCAT(t6.`name`," ",t.fullplateno) like "%"#{queryPlateno}"%"
        </if>
        <if test="queryJobnum != null and queryJobnum != '' ">
            AND t4.jobnum like "%"#{queryJobnum}"%"
        </if>
        <if test="queryDriverInformation != null and queryDriverInformation != '' ">
            AND CONCAT(t4.`name`," ",t4.phone) like "%"#{queryDriverInformation}"%"
        </if>
        <if test="queryModels != null and queryModels != '' and queryModels != 'wfp'.toString()">
            AND t8.`name`=#{queryModels}
        </if>
        <if test="queryModels == 'wfp'.toString()">
            AND CONCAT(t8.`name`," ",t.fullplateno) IS NULL
        </if>
        ORDER BY if(isnull(t7.updatetime),0,1),
				t7.updatetime DESC
        LIMIT #{iDisplayStart},#{iDisplayLength}
    </select>
    <!-- 查询联盟资源 返回 count 有多少条数据 -->
    <select id="getDriverInformationListCount" resultType="int" parameterType="QueryParam">
        SELECT
		COUNT(*)
		FROM
			pub_vehicle t
			LEFT JOIN pub_cooresource t1 ON t.id = t1.vehicleid AND t1.`status` = 1
			LEFT JOIN pub_coooperate t2 ON t1.coooperateid = t2.id AND t2.servicetype = 0 AND t2.`Status` = 1 AND t2.platformtype = 1
			LEFT JOIN pub_driver_vehicle_ref t3 ON t.id = t3.vehicleid AND t3.`status` = 1
			LEFT JOIN pub_driver t4 ON t3.driverid = t4.id AND t4.platformtype = 1 AND t4.vehicletype = 0
			LEFT JOIN le_vehcline_models_ref t5 ON t.vehclineid = t5.vehclineid AND t5.`status` = 1
			LEFT JOIN le_vehiclemodels t6 ON t5.vehiclemodelsid = t6.Id AND t6.`Status` = 1 AND t6.modelstatus = 0
			LEFT JOIN pub_vehicle_models_ref t7 ON t2.companyid = t7.companyid AND t2.leasecompanyid = t7.leasecompanyid AND t1.vehicleid = t7.vehicleid AND t7.`status` = 1
			LEFT JOIN le_vehiclemodels t8 ON t7.vehiclemodelsid = t8.Id AND t8.`Status` = 1
		WHERE
			1 = 1
		AND t2.id = #{key}
		AND t.`status` = 1
		AND t.vehicletype = 0
        <if test="queryPlateno != null and queryPlateno != '' ">
            AND CONCAT(t6.`name`," ",t.fullplateno) like "%"#{queryPlateno}"%"
        </if>
        <if test="queryJobnum != null and queryJobnum != '' ">
            AND t4.jobnum like "%"#{queryJobnum}"%"
        </if>
        <if test="queryDriverInformation != null and queryDriverInformation != '' ">
            AND CONCAT(t4.`name`," ",t4.phone) like "%"#{queryDriverInformation}"%"
        </if>
        <if test="queryModels != null and queryModels != '' and queryModels != 'wfp'.toString()">
            AND t8.`name`=#{queryModels}
        </if>
        <if test="queryModels == 'wfp'.toString()">
            AND CONCAT(t8.`name`," ",t.fullplateno) IS NULL
        </if>
    </select>
    <!-- 查询 联盟资源  服务车型-->
    <select id="getModelsList" resultType="DriverInformationDto" parameterType="QueryParam">
        SELECT t2.`name` FROM pub_coooperate t 
		LEFT JOIN pub_vehicle_models_ref t1 ON t.companyid = t1.companyid AND t.leasecompanyid = t1.leasecompanyid AND t1.`status` = 1
		LEFT JOIN le_vehiclemodels t2 ON t1.vehiclemodelsid = t2.Id AND t2.`Status` = 1
		WHERE t.id = #{key}
		AND t.`status` = 1
    </select>
    <!-- 加载原服务车型 -->
    <select id="getOriginalModels" resultType="DriverInformationDto" parameterType="map">
        SELECT
        t7.id as id,t2.fullplateno as originalName,t8.name as nowName
		FROM
			pub_coooperate t
			LEFT JOIN pub_cooresource t1 ON t.id = t1.coooperateid AND t1.`status` = 1
			LEFT JOIN pub_vehicle t2 ON t1.vehicleid = t2.id AND t2.platformtype = 1 AND t2.`Status` = 1 AND t2.vehicletype = 0
			LEFT JOIN pub_driver_vehicle_ref t3 ON t2.id = t3.vehicleid AND t3.`status` = 1
			LEFT JOIN pub_driver t4 ON t3.driverid = t4.id AND t4.platformtype = 1 AND t4.vehicletype = 0
			LEFT JOIN le_vehcline_models_ref t5 ON t2.vehclineid = t5.vehclineid AND t5.`status` = 1
			LEFT JOIN le_vehiclemodels t6 ON t5.vehiclemodelsid = t6.Id AND t6.`Status` = 1 AND t6.modelstatus = 0
			LEFT JOIN pub_vehicle_models_ref t7 ON t.companyid = t7.companyid AND t.leasecompanyid = t7.leasecompanyid AND t1.vehicleid = t7.vehicleid AND t7.`status` = 1
			LEFT JOIN le_vehiclemodels t8 ON t7.vehiclemodelsid = t8.Id AND t8.`Status` = 1
		WHERE
			1 = 1
		AND t.id = #{key}
		AND t.`status` = 1
		AND t.servicetype = 0
		AND t2.id = #{vehicleid}
        <!-- SELECT
        t6.id as id,t3.fullplateno as originalName,t7.name as nowName
        FROM
        pub_driver t1,
        pub_driver_vehicle_ref t2
        LEFT JOIN pub_vehicle t3 ON t2.vehicleid = t3.id AND t3.`Status`=1 AND t3.platformtype=1
        LEFT JOIN le_vehcline_models_ref t4 ON t3.vehclineid = t4.vehclineid AND t4.`Status`=1
        LEFT JOIN le_vehiclemodels t5 ON t4.vehiclemodelsid = t5.Id AND t5.`Status`=1
        LEFT JOIN pub_vehicle_models_ref t6 ON t6.vehicleid = t3.id AND t6.`status`=1 AND t6.companyid = #{id}
        LEFT JOIN le_vehiclemodels t7 ON t7.Id = t6.vehiclemodelsid AND t7.`status`=1
        WHERE
        t1.leasescompanyid = #{leasescompanyid}
        AND t3.id = #{vehicleid}
        AND t1.`Status`=1
        AND t1.platformtype=1
        AND t1.id = t2.driverid
        AND t2.`status`=1
        AND ((t1.vehicletype = '1' AND t1.id = t3.driverid AND t1.passworkstatus IN( '0' ,'1' ,'3')) OR (t1.vehicletype = '0')) -->
    </select>
    <!-- 加载现在的服务车型   SELECT * FROM le_vehiclemodels WHERE leasescompanyid = #{leasescompanyid} AND `Status`=1 and modelstatus = 0 -->
    <select id="getLeVehiclemodels" resultType="LeVehiclemodels" parameterType="map">
        SELECT
			distinct t.* 
		FROM
			le_vehiclemodels t
			inner JOIN le_accountrules t1 ON t.Id = t1.cartype  AND t1.`Status` = 1 AND t.leasescompanyid = t1.leasescompanyid 
			LEFT JOIN le_company_rules_ref t2 ON t1.rulesrefid = t2.id AND t2.`Status` = 1  AND t1.leasescompanyid = t2.leasescompanyid
		WHERE
			t.leasescompanyid = #{leasescompanyid}
		AND t.`Status` = 1
		AND t.modelstatus = 0
		and ((t1.type=0 AND t1.rulesstate = 0) or (t1.type=1 AND t2.rulestate = 1))
    </select>
    <insert id="createPubVehicleModelsRef" parameterType="PubVehicleModelsRef">
        INSERT INTO `pub_vehicle_models_ref` (`id`, `companyid`, `leasecompanyid`, `vehicleid`, `vehiclemodelsid`, `createtime`, `updatetime`, `creater`, `updater`, `status`)
        VALUES (#{id}, #{companyid}, #{leasecompanyid}, #{vehicleid}, #{vehiclemodelsid}, now(), now(), #{creater}, #{updater}, '1');
    </insert>
    <insert id="createPubVehicleModelsRefHistory" parameterType="PubVehicleModelsRef">
        INSERT INTO `pub_vehicle_models_ref_history` (`id`, `companyid`, `leasecompanyid`, `vehicleid`, `vehiclemodelsid`, `createtime`, `updatetime`, `creater`, `updater`, `status`)
        VALUES (#{id}, #{companyid}, #{leasecompanyid}, #{vehicleid}, #{vehiclemodelsid}, now(), now(), #{creater}, #{updater}, '1');
    </insert>
    <insert id="updatePubVehicleModelsRef" parameterType="PubVehicleModelsRef">
        update `pub_vehicle_models_ref` set vehiclemodelsid = #{vehiclemodelsid} , updatetime = now(),updater = #{updater} where id = #{id}
    </insert>
    <select id="select2QueryJobnum" resultType="map" parameterType="QueryParam">
    	SELECT
		t4.jobnum AS id,
		t4.jobnum AS text
		FROM
			pub_vehicle t
			LEFT JOIN pub_cooresource t1 ON t.id = t1.vehicleid AND t1.`status` = 1
			LEFT JOIN pub_coooperate t2 ON t1.coooperateid = t2.id AND t2.servicetype = 0 AND t2.`Status` = 1 AND t2.platformtype = 1
			LEFT JOIN pub_driver_vehicle_ref t3 ON t.id = t3.vehicleid AND t3.`status` = 1
			LEFT JOIN pub_driver t4 ON t3.driverid = t4.id AND t4.platformtype = 1 AND t4.vehicletype = 0
			LEFT JOIN le_vehcline_models_ref t5 ON t.vehclineid = t5.vehclineid AND t5.`status` = 1
			LEFT JOIN le_vehiclemodels t6 ON t5.vehiclemodelsid = t6.Id AND t6.`Status` = 1 AND t6.modelstatus = 0
			LEFT JOIN pub_vehicle_models_ref t7 ON t2.companyid = t7.companyid AND t2.leasecompanyid = t7.leasecompanyid AND t1.vehicleid = t7.vehicleid AND t7.`status` = 1
			LEFT JOIN le_vehiclemodels t8 ON t7.vehiclemodelsid = t8.Id AND t8.`Status` = 1
		WHERE
			1 = 1
		AND t2.id = #{key}
		AND t.`status` = 1
		AND t.vehicletype = 0
		<if test="queryJobnum != null and queryJobnum != ''">
			AND t4.jobnum like "%"#{queryJobnum}"%"
		</if>
    </select>
    <select id="select2QueryDriverInformation" resultType="map" parameterType="QueryParam">
    	SELECT
		CONCAT(t4.`name`," ",t4.phone) AS id,
		CONCAT(t4.`name`," ",t4.phone) AS text
		FROM
			pub_vehicle t
			LEFT JOIN pub_cooresource t1 ON t.id = t1.vehicleid AND t1.`status` = 1
			LEFT JOIN pub_coooperate t2 ON t1.coooperateid = t2.id AND t2.servicetype = 0 AND t2.`Status` = 1 AND t2.platformtype = 1
			LEFT JOIN pub_driver_vehicle_ref t3 ON t.id = t3.vehicleid AND t3.`status` = 1
			LEFT JOIN pub_driver t4 ON t3.driverid = t4.id AND t4.platformtype = 1 AND t4.vehicletype = 0
			LEFT JOIN le_vehcline_models_ref t5 ON t.vehclineid = t5.vehclineid AND t5.`status` = 1
			LEFT JOIN le_vehiclemodels t6 ON t5.vehiclemodelsid = t6.Id AND t6.`Status` = 1 AND t6.modelstatus = 0
			LEFT JOIN pub_vehicle_models_ref t7 ON t2.companyid = t7.companyid AND t2.leasecompanyid = t7.leasecompanyid AND t1.vehicleid = t7.vehicleid AND t7.`status` = 1
			LEFT JOIN le_vehiclemodels t8 ON t7.vehiclemodelsid = t8.Id AND t8.`Status` = 1
		WHERE
			1 = 1
		AND t2.id = #{key}
		AND t.`status` = 1
		AND t.vehicletype = 0
		<if test="queryDriverInformation != null and queryDriverInformation != ''">
			AND CONCAT(t4.`name`," ",t4.phone) like "%"#{queryDriverInformation}"%"
		</if>
    </select>
</mapper>