<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 引入接口，只要实现接口的方法就会调用对应接口方法的 select id -->
<mapper namespace="com.szyciov.carservice.mapper.DriverMessageMapper">

	<insert id="addDriverMessage" parameterType="PubDriverNews">
	INSERT INTO pub_drivernews(
		 id, userid, type, content, newsstate, createtime, updatetime, status
	) VALUES( 
		#{id}, #{userid}, #{type}, #{content}, #{newsstate}, #{createtime}, #{updatetime}, #{status}
	)
	</insert>
</mapper>